::ng-deep #readdress {
    width: min-content;
    .ui-g {
        margin-bottom: 1em;
        max-height: 50vh;
        min-width: 26.25rem;
        .ui-g-12 {
            padding: .3em;
            min-width: 25.625rem;
        }
    }
    
    .p-autocomplete-input {
        width: 23.438rem;
    }
    p-footer {
        button {
            width: 6.25rem;
        }
    }
}