::ng-deep #search-rubrica {
    width: 100%;
    .ui-g {
        margin-bottom: 1em;
        max-height: 50vh;
        min-width: 26.25rem;
        .ui-g-12 {
            padding: .3em;
            min-width: 25.625rem;
        }
    }
    p-autocomplete .ui-button {
        display: none !important;
    }
}
