<section class="height-100">
  <p-button
    [rounded]="true" 
    [text]="true" 
    class="close-button"
    tabindex="0"
    (click)="checkAndClose()"
    icon="pi pi-times"
  >
  </p-button>
  <!-- <div class="height-100"> -->
  <!-- Prevent default on form to avoid auto submit -->
  <form 
    class="height-100 d-flex flex-dir-col"
    [formGroup]="mailForm"
  >
    <ul class="list-items">
      <!-- A Addresses -->
      <li>
        <label
          for="to"
          style="padding-right: 0.563rem"
          >A:
        </label>
        <span class="ui-fluid flex-1 margin-lr-5">
          <p-autocomplete
            #toAutoComplete
            type="email"
            [required]="true"
            [autofocus]="true"
            [delay]="500"
            inputId="toInputId"
            id="to"
            formControlArray="to"
            [suggestions]="filteredAddressMultiple"
            (completeMethod)="filterAddressMultiple($event)"
            (keyup.enter)="onKeyUpNew($event, 'to')"
            (onSelect)="onSelectNew($event.value, 'to')"
            (onUnselect)="onUnselect($event.value, 'to')"
            (onBlur)="onKeyUpNew($event, 'to')"
            placeholder="Seleziona contatti..."
            [minLength]="1"
            [multiple]="true"
            emptyMessage="Indirizzo non trovato, premere invio per inserire un indirizzo estermporaneo"
          >
            
            <ng-template
              let-value
              #selectedItem
            >
              <span
                class="token-label"
                *ngIf="value.tipo !== 'GRUPPO'"
                [ngClass]="isInserimentoInCorso || emailRegex.test(value) ? null : 'alert-message-warn'"
                >{{ value.descrizioneDettaglioContatto ? "Inserimento contatto..." : value }}
              </span>
              <span
                class="token-label"
                *ngIf="value.tipo === 'GRUPPO'"
                >Inserimento gruppo ..
              </span>
            </ng-template>
            <ng-template let-value #item>
              <span class="token-label item-contatto">
                <i
                  pTooltip=""
                  tooltipPosition="top"
                  *ngIf="value.isDomicilioDigitale"
                  class="tooltip pi pi-id-card icon-item-contatto"
                ></i
                ><span
                  >{{ value.tipo == "GRUPPO" ? "[GRUPPO] " : "" }}{{ value.descrizioneContatto }} -
                  {{ value.descrizioneDettaglioContatto }}</span
                >
              </span>
            </ng-template>
          </p-autocomplete>
        </span>
        <span>
          <button
            pButton
            type="button"
            icon="fa fa-address-book"
            aria-label="rubrica"
            class="ui-button-raised custom-primary-button"
            (click)="onOpenRubricaPopup(); lastAddressBookUsed = 'to'"
          ></button>
        </span>
      </li>
      <li
        *ngIf="((addressesTO?.invalid && !addressesTO?.errors?.required) || !isMailValid) && !isInserimentoInCorso"
        class="alert-message-warn"
      >
        Hai inserito un indirizzo mail sbagliato!
      </li>
      <!-- CC Addresses -->
      <li>
        <label for="cc">CC: </label>
        <span class="ui-fluid flex-1 margin-lr-5">
          <!-- field="descrizione" -->
          <p-autoComplete
            #ccAutoComplete
            type="email"
            [delay]="500"
            inputId="ccInputId"
            id="cc"
            formControlArray="cc"
            [suggestions]="filteredAddressMultiple"
            (completeMethod)="filterAddressMultiple($event)"
            (keyup.enter)="onKeyUpNew($event, 'cc')"
            (onSelect)="onSelectNew($event.value, 'cc')"
            (onUnselect)="onUnselect($event.value, 'cc')"
            (onBlur)="onKeyUpNew($event, 'cc')"
            [pTooltip]="mailForm.get('hideRecipients')?.value ? ccTooltip : ''"
            [minLength]="1"
            [multiple]="true"
            [disabled]="mailForm.get('hideRecipients')?.value"
          >
            <ng-template #empty
              >Indirizzo non trovato, premere invio per inserire un indirizzo estermporaneo
            </ng-template>
            <ng-template
              let-value
              #selectedItem
            >
              <span
                class="token-label"
                *ngIf="value.tipo !== 'GRUPPO'"
                [ngClass]="isInserimentoInCorso || emailRegex.test(value) ? null : 'alert-message-warn'"
                >{{ value.descrizioneDettaglioContatto ? "Inserimento contatto..." : value }}
              </span>
              <span
                class="token-label"
                *ngIf="value.tipo === 'GRUPPO'"
                >Inserimento gruppo ..</span
              >
            </ng-template>
            <ng-template
              let-value
              #item
            >
              <span class="token-label item-contatto">
                <i
                  pTooltip=""
                  tooltipPosition="top"
                  *ngIf="value.isDomicilioDigitale"
                  class="tooltip pi pi-id-card icon-item-contatto"
                ></i>
                <span>
                  {{ value.tipo == "GRUPPO" ? "[GRUPPO] " : "" }}{{ value.descrizioneContatto }} -
                  {{ value.descrizioneDettaglioContatto }}
                </span>
              </span>
            </ng-template>
          </p-autoComplete>
        </span>
        <span>
          <button
            pButton
            type="button"
            icon="fa fa-address-book"
            aria-label="rubrica"
            class="ui-button-raised custom-primary-button"
            (click)="onOpenRubricaPopup(); lastAddressBookUsed = 'cc'"
          ></button>
        </span>
      </li>
      <li
        *ngIf="((addressesTO?.invalid && !addressesTO?.errors?.required) || !isMailValidCC) && !isInserimentoInCorso"
        class="alert-message-warn"
      >
        Hai inserito un indirizzo mail sbagliato!
      </li>
      <!-- Destinatari Privati -->
      <li>
        <label for="hideRecipients">Destinatari privati: </label>
        <span class="ui-fluid margin-lr-5">
          <p-checkbox
            id="hideRecipients"
            formControlName="hideRecipients"
            [binary]="true"
            [pTooltip]="mailForm.get('cc')?.value.length > 0 ? hideRecipientsTooltip : ''"
          >
          </p-checkbox>
        </span>
      </li>
      <!-- Oggetto -->
      <li class="oggetto">
        <label for="subject">Oggetto: </label>
        <span class="ui-fluid flex-1 margin-l-5">
          <input
            id="subject"
            type="text"
            pInputText
            formControlName="subject"
          />
        </span>
      </li>
      <!-- Allegati -->
      <li>
        <p-fileUpload
          #fileUpload
          [auto]="true"
          [customUpload]="true"
          (uploadHandler)="onFileUpload($event)"
          [multiple]="true"
          [showUploadButton]="false"
          [showCancelButton]="true"
          chooseLabel="Allega"
          cancelLabel="Svuota"
          [chooseIcon]="'pi pi-paperclip'"
          styleClass="custom-upload"
          [maxFileSize]="MAX_FILE_SIZE_UPLOAD"
          (onClear)="clearAttachmentsField()"
          (onRemoveUploadedFile)="removeFile($event)"
        >
          <ng-template #file></ng-template>
          <ng-template #content let-files let-uploadedFiles="uploadedFiles"  let-removeUploadedFileCallback="removeUploadedFileCallback">
            <div class="box-files">
              <ul>
                @for (file of uploadedFiles; track file; let index = $index) {
                  <p-chip 
                    [label]="(file.name ? file.name : file.displayName) + ' (' + (file.id ? formatSize(file.originalSize) : formatSize(file.size, true)) + ')'" 
                    [removable]="true"
                    (onRemove)="removeUploadedFileCallback(index)" />
                }
              </ul>
            </div>
            <p-button
              icon="pi pi-times"
              class="ui-button-raised custom-primary-button"
              (click)="clearAttachmentsField()"
              label="Svuota Allegati"
              pTooltip="Svuota allegati"
            ></p-button>
          </ng-template>
        </p-fileUpload>
      </li>
      <!-- Testo Mail -->
      <li
        class="flex-1 flex-dir-col min-height-0"
        style="margin: 0"
      >
        <!-- <label for="body">Testo: </label> -->
        <span class="height-100 d-flex flex-1 min-height-0">
          <p-editor
            #editor
            id="body"
            formControlName="body"
            (onInit)="editorInit($event)"
          >
          </p-editor>
        </span>
      </li>
    </ul>
    <!-- Footer -->
    <p-footer class="footer-class">
      <button
        type="button"
        pButton
        icon="pi pi-save"
        class="ui-button-raised ui-button-secondary button-styles custom-secondary-button"
        label="Salva e chiudi"
        (click)="onSaveDraft()"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-trash"
        class="ui-button-raised ui-button-secondary button-styles custom-secondary-button"
        label="Elimina"
        (click)="onDelete(true)"
      ></button>
      <button
        type="button"
        pButton
        icon="fa fa-paper-plane"
        class="ui-button-raised ui-button-secondary button-styles custom-secondary-button"
        label="Invia"
        (click)="onSubmit()"
        [disabled]="mailForm.invalid || this.draftService.isMailFormSubmitted"
      ></button>
    </p-footer>
  </form>
  <!-- </div> -->
</section>
<p-dialog
  header="Conferma"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '20vw !important' }"
  appendTo="body"
>
  <i class="fas fa-exclamation-triangle warn-class"></i>
  <p class="d-inline-block">Vuoi salvare il messaggio corrente?</p>
  <ng-template #footer class="d-flex justify-c-c">
    <button
      type="button"
      class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button"
      pButton
      icon="fas fa-check"
      (click)="onSaveDraft()"
      label="Sì"
    ></button>
    <button
      type="button"
      class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button"
      pButton
      icon="fas fa-times"
      (click)="onClose()"
      label="No"
    ></button>
    <button
      type="button"
      class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button"
      pButton
      icon="fas fa-undo-alt"
      (click)="display = false"
      label="Annulla"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmdialog
  #cd2
  key="cd2"
  acceptLabel="Continua"
  rejectLabel="Modifica Gruppo"
  appendTo="body"
  [style]="{ width: '50vw' }"
>
  <!-- <ng-template #footer let-onAccept="onAccept" let-onReject="onReject">
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Continua"
      (click)="onAccept()"
      class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-pencil"
      label="Modifica Gruppo"
      (click)="onReject()"
      class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button"
    ></button>
  </ng-template> -->
</p-confirmdialog>

<p-confirmdialog
  #cd3
  key="proponiDomicilioDigitaleOnContactSelection"
  acceptLabel="Sì"
  rejectLabel="No"
  appendTo="body"
  [style]="{ width: '20vw' }"
>
  <!-- <ng-template #footer let-onAccept="onAccept" let-onReject="onReject">
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Sì"
      (click)="onAccept()"
      class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times "
      label="No"
      (click)="onReject()"
      class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button"
    ></button>
  </ng-template> -->
</p-confirmdialog>

<p-confirmdialog
  #cd
  key="cd"
  acceptLabel="Sì"
  rejectLabel="No"
  appendTo="body"
>
  <!-- <ng-template #footer let-onAccept="onAccept" let-onReject="onReject">
    <p-button
      icon="pi pi-check"
      label="Sì"
      (click)="onAccept()"
    ></p-button>
    <p-button
      icon="pi pi-times "
      label="No"
      (click)="onReject()"
    ></p-button>
  </ng-template> -->
</p-confirmdialog>

<p-dialog
  appendTo="body"
  [(visible)]="displayRubricaPopup"
  [modal]="true"
  (onHide)="handleOnHideRubricaPopup($event)"
  class="popup-rubrica"
  [contentStyle]="
    utenteConnesso.aziendaLogin.parametriAzienda?.rubricaInternauta
      ? { height: '70vh', 'max-height': '70vh', width: '92vw' }
      : null
  "
  header="Aggiungi destinatario"
>
  @if (!utenteConnesso.aziendaLogin.parametriAzienda?.rubricaInternauta) {
    <app-search-contact
      (addressChosedByBook)="onAddressChosedByBook($event)"
      (closeRubricaPopup)="displayRubricaPopup = false"
    >
    </app-search-contact>
  }

  @if (utenteConnesso.aziendaLogin.parametriAzienda?.rubricaInternauta) {
    <app-rubrica-container
      (closeRubricaPopup)="displayRubricaPopup = false"
    ></app-rubrica-container>

    <ng-template #footer>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        label="Conferma Destinatari Selezionati"
        (click)="onConfermaDestinatari()"
        [disabled]="checkIfExistDestinatariSelezionati()"
        class="ui-button-raised ui-button-secondary custom-secondary-button"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times"
        label="Annulla"
        (click)="onCloseRubricaPopup()"
        [disabled]="disableButtonsConfermaDestinatariSelezionati"
        class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button"
      ></button>
    </ng-template>
  }
</p-dialog>
