/******* List *******/
.list-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
label {
  font-size: medium;
  font-weight: bold;
}
ul {
  flex: 1 0 auto;
  height: 94%;
}
li {
  margin: 0 0 0.625rem;
}
.oggetto {
  input {
    width: 100%;
  }
}
.d-flex,
ul,
li {
  display: flex;
}
.flex-dir-col,
ul {
  flex-direction: column;
}

/******* Chips *******/
::ng-deep #attachments .p-chips {
  > ul.p-inputtext,
  > ul.p-inputtext:focus {
    min-height: 2.063rem;
    max-height: 6.25rem;
    overflow-y: auto;
  }
  .p-chips-input-token {
    display: none;
  }
}

/******* Buttons *******/
.button-styles {
  margin: 0.5rem 0 0.3rem 0.3rem;
  min-width: 8.438rem;
}

.ui-fileupload-choose:not(.p-state-disabled):hover {
  background-color: #c8c8c8 !important;
}
.inputfile {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  min-height: 100%;
  font-size: 6.25rem;
  text-align: right;
  filter: alpha(opacity=0);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
}

/******* Footer *******/
.footer-class {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -0.438rem;
}

::ng-deep body .p-autocomplete {
  width: 100%;
}

/******* Attachments and Address chips *******/
::ng-deep body .p-chips > ul.p-inputtext .p-chips-token,
::ng-deep
  body
  .p-autocomplete.p-autocomplete-multiple
  .p-autocomplete-multiple-container
  .p-autocomplete-token {
  background-color: rgb(235, 235, 235);
  border-radius: 0.3rem;
  padding: 0.13rem 0.3rem;
  margin: 0.06rem;
  color: black;
}
::ng-deep
  body
  .p-autocomplete.p-autocomplete-multiple
  .p-autocomplete-multiple-container {
  max-height: 5.063rem;
  overflow: auto;
  width: 100%;
}
.attachment:hover {
  background-color: rgb(206, 206, 206);
}

::ng-deep .p-autocomplete-input-token input {
  width: 26em;
}

.token-label {
  display: block;
  margin-right: 2em;
}

/******* General rules *******/
.flex-1,
::ng-deep p-editor {
  flex: 1;
}

.d-inline-block {
  display: inline-block;
}

.margin-l-5,
.margin-lr-5 {
  margin-left: 0.3rem;
}

.margin-r-5,
.margin-lr-5 {
  margin-right: 0.3rem;
}

.height-100 {
  height: 100%;
}

.justify-c-c {
  justify-content: center;
}

::ng-deep
  body
  .p-autocomplete.p-autocomplete-multiple
  .p-autocomplete-multiple-container:not(.p-state-disabled).p-state-focus,
input:focus {
  border-color: #2e4a65 !important;
}

::ng-deep .p-tooltip {
  max-width: 18.5em;
}

/******* Editor *******/
::ng-deep .p-editor-content.ql-container.ql-snow {
  min-height: 1.25rem;
}
::ng-deep
  .ql-align.ql-picker.ql-icon-picker.ql-expanded
  .ql-picker-options
  .ql-picker-item {
  padding: 0 !important;
}
.min-height-0 {
  min-height: 0;
}
::ng-deep p-editor > div {
  height: 100%;
  display: flex;
  flex-flow: column;
}
/******* Close button *******/
.close-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: white;
}
/******* Dialog classes ******/
.confirm-buttons {
  margin: 0 0.25em 0 0.25em !important;
}
.warn-class {
  margin: 0 0.5em 0 0.5em;
}

.alert-message-error {
  justify-content: center;
  color: #721c24;
  background-color: #f8d7da;
}

.alert-message-warn {
  justify-content: center;
  color: #212121;
  background-color: #ffe399;
}

.item-contatto {
  align-items: center;
  display: flex;
}

.icon-item-contatto {
  padding-right: 1rem;
  padding-left: 0.2rem;
}
