<section class="height-100">
  <a [ngClass]="'ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all close-button'"
    tabindex="0" role="button" (click)="checkAndClose()">
      <span class="pi pi-times"></span>
  </a>
  <!-- <div class="height-100"> -->
    <!-- Prevent default on form to avoid auto submit -->
    <form class="height-100 d-flex flex-dir-col" [formGroup]="mailForm">
      <ul class="list-items">
        <!-- A Addresses -->
        <li>
          <label for="to" style="padding-right: 9px">A: </label>
          <span class="ui-fluid flex-1 margin-lr-5">
              <p-autoComplete #toAutoComplete
                required="true" type="email" inputId="toInputId"
                id="to" formControlArray="to" [suggestions]="filteredAddressMultiple"
                (completeMethod)="filterAddressMultiple($event)" (onKeyUp)="onKeyUp($event, 'to')"
                (onSelect)="onSelect($event, 'to')" (onUnselect)="onUnselect($event, 'to')" (onBlur)="onKeyUp($event, 'to')"
                [minLength]="1" placeholder="Seleziona contatti..." [multiple]="true">
              </p-autoComplete>
          </span>
          <span>
            <button pButton type="button" icon="fa fa-address-book" class="ui-button-raised custom-primary-button" (click)="displayRubricaPopup = true; lastAddressBookUsed = 'to'"></button>
          </span>
        </li>
        <!-- CC Addresses -->
        <li>
          <label for="cc">CC: </label>
          <span class="ui-fluid flex-1 margin-lr-5">
            <p-autoComplete #ccAutoComplete
              type="email" inputId="ccInputId"
              id="cc" formControlArray="cc" [suggestions]="filteredAddressMultiple"
              (completeMethod)="filterAddressMultiple($event)" (onKeyUp)="onKeyUp($event, 'cc')"
              (onSelect)="onSelect($event, 'cc')" (onUnselect)="onUnselect($event, 'cc')" (onBlur)="onKeyUp($event, 'cc')"
              [pTooltip]="mailForm.get('hideRecipients').value ? ccTooltip : ''" [disabled]="mailForm.get('hideRecipients')?.value"
              [minLength]="1" [multiple]="true" >
            </p-autoComplete>
          </span>
          <span>
            <button pButton type="button" icon="fa fa-address-book" class="ui-button-raised custom-primary-button" (click)="displayRubricaPopup = true; lastAddressBookUsed = 'cc'"></button>
          </span>
        </li>
        <!-- Destinatari Privati -->
        <li>
          <label for="hideRecipients">Destinatari privati: </label>
          <span class="ui-fluid margin-lr-5">
            <p-checkbox id="hideRecipients" formControlName="hideRecipients" binary="true"
              [pTooltip]="mailForm.get('cc').value.length > 0 ? hideRecipientsTooltip : ''" >
            </p-checkbox>
          </span>
        </li>
        <!-- Oggetto -->
        <li>
          <label for="subject">Oggetto: </label>
          <span class="ui-fluid flex-1 margin-l-5">
              <input id="subject" type="text" size="1000" pInputText formControlName="subject">
          </span>
        </li>
        <!-- Allegati -->
        <li>
          <span
            class="ui-fileupload-choose ui-button-secondary custom-border" style="height:33px; min-width: 83.27px;"
            label="Allega" icon="pi pi-paperclip" pButton>
              <input #fileinput type="file" (change)="onFileChange($event, fileinput)" multiple="multiple">
          </span>
          <span class="ui-fluid flex-1 margin-lr-5">
            <p-chips id="attachments" formControlName="attachments">
                <ng-template let-item pTemplate="item">
                    {{ item.name ? item.name : item.displayName }} ({{item.id ? formatSize(item.size) :  formatSize(item.size, true)}}) <i style="margin-right:1.5em"></i>
                </ng-template>
            </p-chips>
          </span>
          <span>
            <button
              pButton type="button" icon="pi pi-times" class="ui-button-raised custom-primary-button"
              (click)="clearAttachmentsField()" pTooltip="Svuota allegati">
            </button>
          </span>
        </li>
        <!-- Testo Mail -->
        <li class="flex-1 flex-dir-col min-height-0" style="margin: 0">
          <!-- <label for="body">Testo: </label> -->
          <span class="height-100 d-flex flex-1 min-height-0">
            <p-editor #editor id="body" formControlName="body"  (onInit)="editorInit($event)">
            </p-editor>
          </span>
        </li>
      </ul>
      <!-- Footer -->
      <p-footer class="footer-class">
        <button
          type="button" pButton icon="pi pi-save"
          class="ui-button-raised ui-button-secondary button-styles custom-secondary-button"
          label="Salva e chiudi" (click)="onSaveDraft()">
        </button>
        <button
          type="button" pButton icon="pi pi-trash"
          class="ui-button-raised ui-button-secondary button-styles custom-secondary-button"
          label="Elimina" (click)="onDelete(true)">
        </button>
        <button
          type="button" pButton icon="fa fa-paper-plane"
          class="ui-button-raised ui-button-secondary button-styles custom-secondary-button"
          label="Invia" (click)="onSubmit()" [disabled]="mailForm.invalid">
        </button>
      </p-footer>
    </form>
  <!-- </div> -->
</section>
<p-dialog
  header="Conferma" [(visible)]="display" [modal]="true" [responsive]="true"
  [style]="{width: '20vw !important'}" appendTo="body">
    <i class="fas fa-exclamation-triangle warn-class"></i>
    <p class="d-inline-block">Vuoi salvare il messaggio corrente?</p>
    <p-footer class="d-flex justify-c-c">
      <button
        type="button"
        class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button"
        pButton icon="fas fa-check" (click)="onSaveDraft()" label="Sì">
      </button>
      <button
        type="button"
        class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button"
        pButton icon="fas fa-times" (click)="onClose()" label="No"></button>
      <button
        type="button"
        class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button"
        pButton icon="fas fa-undo-alt" (click)="display=false" label="Annulla">
      </button>
    </p-footer>
</p-dialog>

<p-confirmDialog #cd acceptLabel="Sì" rejectLabel="No" appendTo="body" [style]="{width: '20vw', top: '40%'}">
    <p-footer>
      <button type="button" pButton icon="pi pi-check" label="Sì" (click)="cd.accept()"
        class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button">
      </button>
      <button type="button" pButton icon="pi pi-times " label="No" (click)="cd.reject()"
        class="confirm-buttons ui-button-raised ui-button-secondary custom-secondary-button">
      </button>
    </p-footer>
</p-confirmDialog>

<p-dialog
  appendTo="body"
  [(visible)]="displayRubricaPopup"
  *ngIf="displayRubricaPopup"
  modal="true"
  class="popup-rubrica"
  [style]="{width: '700px'}">
  <p-header>
    Aggiungi destinatario
  </p-header>
  <app-search-contact
    (addressChosedByBook)="onAddressChosedByBook($event)"
    (closeRubricaPopup)="displayRubricaPopup = false">
  </app-search-contact>
</p-dialog>