<section class="height-100">
  <!-- <div class="height-100"> -->
    <!-- Prevent default on form to avoid auto submit -->
    <form class="height-100 d-flex flex-dir-col" [formGroup]="mailForm" (ngSubmit)="onSubmit()">
      <ul class="list-items">
        <!-- A Addresses -->
        <li>
          <label for="to" style="padding-right: 9px">A: </label>
          <span class="ui-fluid flex-1 margin-lr-5">
              <p-autoComplete
                required="true" type="email"
                id="to" formControlName="to" [suggestions]="filteredCountriesMultiple"
                (completeMethod)="filterCountryMultiple($event)" (onKeyUp)="onKeyUp($event, 'addresses')"
                (onSelect)="onSelect($event, 'addresses')"
                [minLength]="1" placeholder="Seleziona contatti..." [multiple]="true">
              </p-autoComplete>
          </span>
          <span>
            <button pButton type="button" icon="fa fa-address-book" class="ui-button-rounded custom-primary-button"></button>
          </span>
        </li>
        <!-- CC Addresses -->
        <li>
          <label for="ccAddresses">CC: </label>
          <span class="ui-fluid flex-1 margin-lr-5">
            <p-autoComplete
              type="email"
              id="cc" formControlName="cc" [suggestions]="filteredCountriesMultiple"
              (completeMethod)="filterCountryMultiple($event)" (onKeyUp)="onKeyUp($event, 'ccAddresses')"
              (onSelect)="onSelect($event, 'ccAddresses')"
              [pTooltip]="mailForm.get('hideRecipients').value ? ccTooltip : ''"
              [minLength]="1" [multiple]="true" [disabled]="mailForm.get('hideRecipients').value">
            </p-autoComplete>
          </span>
          <span>
            <button pButton type="button" icon="fa fa-address-book" class="ui-button-rounded custom-primary-button"></button>
          </span>
        </li>
        <!-- Destinatari Privati -->
        <li>
          <label for="hideRecipients">Destinatari privati: </label>
          <span class="ui-fluid margin-lr-5">
            <p-checkbox id="hideRecipients" formControlName="hideRecipients" binary="true"
              [disabled]="mailForm.get('cc').value.length > 0"
              [pTooltip]="mailForm.get('cc').value.length > 0 ? hideRecipientsTooltip : ''" >
            </p-checkbox>
          </span>
        </li>
        <!-- Oggetto -->
        <li>
          <label for="subject">Oggetto: </label>
          <span class="ui-fluid flex-1 margin-l-5">
              <input id="subject" type="text" size="1000" pInputText formControlName="subject">
          </span>
        </li>
        <!-- Allegati -->
        <li>
          <span
            class="ui-fileupload-choose ui-button-secondary custom-border" style="height:33px"
            label="Allega" icon="pi pi-paperclip" pButton>
              <input #fileinput type="file" (change)="onFileChange($event, fileinput)" multiple="multiple">
          </span>
          <span class="ui-fluid flex-1 margin-l-5">
            <p-chips id="attachments" formControlName="attachments">
                <ng-template let-item pTemplate="item">
                    {{ item.name ? item.name : item.displayName }} ({{formatSize(item.size)}}) <i style="margin-right:1.5em"></i>
                </ng-template>
            </p-chips>
          </span>
        </li>
        <!-- Testo Mail -->
        <li class="flex-1 flex-dir-col min-height-0" style="margin: 0">
          <!-- <label for="body">Testo: </label> -->
          <span class="height-100 d-flex flex-1 min-height-0">
            <p-editor #editor id="body" formControlName="body">
            </p-editor>
          </span>
        </li>
      </ul>
      <!-- Footer -->
      <p-footer class="footer-class">
        <button
          type="button" pButton icon="pi pi-save"
          class="ui-button-raised ui-button-secondary button-styles custom-secondary-button"
          label="Salva e chiudi" (click)="onSaveDraft()">
        </button>
        <button
          type="button" pButton icon="pi pi-trash"
          class="ui-button-raised ui-button-secondary button-styles custom-secondary-button"
          label="Elimina" (click)="onDelete()">
        </button>
        <button
          type="submit" pButton icon="fa fa-paper-plane"
          class="ui-button-raised ui-button-secondary button-styles custom-secondary-button"
          label="Invia">
        </button>
      </p-footer>
    </form>
  <!-- </div> -->
</section>