/******* List *******/
.list-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
label {
  font-size:medium;
  font-weight: bold;
  // display: flex;
  // width: 152px;
  // justify-content: flex-end;
}
ul {
  flex: 1 0 auto;
  height: 94%;
}
li {
  margin: 0 0 10px;
}
.oggetto {
  input {
    width: 100%;
  }
}
.d-flex, ul, li {
  display: flex;
}
.flex-dir-col, ul {
  flex-direction: column;
}

/******* Chips *******/
::ng-deep #attachments .p-chips {
  > ul.p-inputtext,
  > ul.p-inputtext:focus {
    min-height: 33px;
    max-height: 100px;
    overflow-y: auto;
  }
  .p-chips-input-token {
    display: none;  // Makes chips readonly
  }
}

/******* Buttons *******/
.button-styles {
  margin: 8px 0 5px 5px;
  min-width: 135px;
}

.ui-fileupload-choose:not(.p-state-disabled):hover {
  background-color: #c8c8c8 !important;
}
.inputfile {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
}

/******* Footer *******/
.footer-class {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -7px;
}

::ng-deep body .p-autocomplete {
  width: 100%;
}

/******* Attachments and Address chips *******/
::ng-deep body .p-chips > ul.p-inputtext .p-chips-token,
::ng-deep body .p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container .p-autocomplete-token {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 2px 5px;
  margin: 1px;
  color: black;
}
::ng-deep body .p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container {
  max-height: 81px;
  overflow: auto;
  width: 100%;
}
.attachment:hover {
  background-color: rgb(206, 206, 206);
}

::ng-deep .p-autocomplete-input-token input {
  width: 26em;
}

.token-label {
  display: block;
  margin-right: 2em;
}

/******* General rules *******/
.flex-1,
::ng-deep p-editor {
  flex: 1;
}

.d-inline-block {
  display: inline-block;
}

.margin-l-5, .margin-lr-5 {
  margin-left: 5px;
}

.margin-r-5, .margin-lr-5 {
  margin-right: 5px;
}

.height-100 {
  height: 100%;
}

.justify-c-c {
  justify-content: center;
}

::ng-deep body .p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container:not(.p-state-disabled).p-state-focus,
input:focus {
  border-color: #2e4a65 !important;
  
}

::ng-deep .p-tooltip {
  max-width: 18.5em;
}

/******* Editor *******/
::ng-deep .p-editor-content.ql-container.ql-snow {

  min-height: 20px;
}
::ng-deep .ql-align.ql-picker.ql-icon-picker.ql-expanded .ql-picker-options .ql-picker-item {
  padding: 0 !important;
}
.min-height-0 {
  min-height: 0;  // Quickfix per l'overflow su firefox
}
::ng-deep p-editor > div {
  height: 100%;
  display: flex;
  flex-flow: column;
}
/******* Close button *******/
.close-button {
  position: absolute;
  top: 16px;
  right: 24px;
  color: white;
}
/******* Dialog classes ******/
.confirm-buttons {
  margin: 0 0.25em 0 0.25em !important;
}
.warn-class {
  margin: 0 .5em 0 .5em;
}

//type of alert 
.alert-message-error {
  justify-content: center;
  color: #721c24;
  background-color: #f8d7da;
}

.alert-message-warn {
  justify-content: center;
  color: #212121;
  background-color: #ffe399;
}