/******* List *******/
.list-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  font-size:medium;
  font-weight: bold;
  // display: flex;
  // width: 152px;
  // justify-content: flex-end;
}

ul {
  flex: 1 0 auto;
  height: 94%;
}

li {
  margin: 0 0 10px;
}

.d-flex, ul, li {
  display: flex;
}

.flex-dir-col, ul {
  flex-direction: column;
}

::ng-deep body .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #2e4a65 !important;
  background-color: #406284 !important;
  color: #ffffff;
}
/******* Chips *******/
::ng-deep #attachments .ui-chips {
  > ul.ui-inputtext,
  > ul.ui-inputtext:focus {
    min-height: 33px;
    max-height: 100px;
    overflow-y: auto;
  }
  .ui-chips-input-token {
    display: none;  // Makes chips readonly
  }
}

/******* Buttons *******/
.button-styles {
  margin: 8px 0 5px 5px;
  width: 135px;
}

.ui-fileupload-choose:not(.ui-state-disabled):hover {
  background-color: #c8c8c8 !important;
}

/******* Footer *******/
.footer-class {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -7px;
}

/******* Attachments and Address chips *******/
::ng-deep body .ui-chips > ul.ui-inputtext .ui-chips-token,
::ng-deep body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 2px 5px;
  margin: 1px;
  color: black;
}
::ng-deep body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container {
  max-height: 81px;
  overflow: auto;
}
.attachment:hover {
  background-color: rgb(206, 206, 206);
}
::ng-deep body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item.ui-state-highlight {
  background-color: #546069;
}
::ng-deep .ui-autocomplete-input-token input {
  width: 14em;
}

/******* General rules *******/
.flex-1,
::ng-deep p-editor {
  flex: 1;
}

.d-inline-block {
  display: inline-block;
}

.margin-l-5, .margin-lr-5 {
  margin-left: 5px;
}

.margin-r-5, .margin-lr-5 {
  margin-right: 5px;
}

.height-100 {
  height: 100%;
}

.justify-c-c {
  justify-content: center;
}

::ng-deep body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container:not(.ui-state-disabled).ui-state-focus,
input:focus {
  border-color: #2e4a65 !important;
}

::ng-deep .ui-tooltip {
  max-width: 18.5em;
}

/******* Editor *******/
::ng-deep .ui-editor-content.ql-container.ql-snow {
  // overflow: auto;
  // word-break: break-word !important;
  // word-break: break-all;
  min-height: 20px;
}

p-editor {
  // max-width: 50vw;
}

.min-height-0 {
  min-height: 0;  // Quickfix per l'overflow su firefox
}

::ng-deep p-editor > div {
  height: 100%;
  display: flex;
  flex-flow: column;
}

/******* Close button *******/
.close-button {
  position: absolute;
  top: -36px;
  right: 11px;
  color: slategray;
}
/******* Dialog classes ******/
.confirm-buttons {
  width: 110px !important;
  margin: 0 0.25em 0 0.25em !important;
}

.warn-class {
  margin: 0 .5em 0 .5em;
}

/******** rubrica ************/
::ng-deep .popup-rubrica {
  width: 800px !important;
}
::ng-deep .popup-rubrica > div {
  width: inherit !important;
}