@if (numberOfMessageSelected !== null && numberOfMessageSelected > 1) {
  <div
    class="detail-container more-mail-selected"
    >
    {{ numberOfMessageSelected }} {{ messageTrueDraftFalse ? "email" : "bozze" }} selezionate
  </div>
}
@if ((numberOfMessageSelected === null || numberOfMessageSelected <= 1) && fullMessage) {
  <div
    class="detail-container"
    >
    @if (fullMessage?.emlData?.subject) {
      <h3
        #subject
        class="mail-object"
        tabindex="0"
        >
        {{ fullMessage?.emlData?.subject }}
      </h3>
    }
    @if (this.message?.version) {
      <div
        pTooltip="Mostra cronologia"
        tooltipPosition="left"
        (click)="loadLogs()"
        class="ultima-azione"
        >
        Ultima azione: {{ removeZoneFromTime(this.message?.version?.toString()) | date: "EE d MMM y, H:mm" | titlecase }}
      </div>
    }
    <div
      class="log-container"
      [ngClass]="{ showLogs: showLogs }"
      >
      <div
        class="header"
        (click)="showLogs = false"
        >
        <span>Chiudi cronologia</span>
      </div>
      <div class="content">
        <log-viewer [krintFilterOptions]="krintFilterOptions"></log-viewer>
      </div>
    </div>
    @if (message?.inOut === inOut?.OUT && fullMessage?.emlData?.displayBody) {
      <div
        class="recepit-detail"
        >
        <div class="recepit-dates">
          <li class="recepit-date">
            <span class="recepit-date-label">Accettata il:</span>
            <span class="recepit-date-content">{{
              fullMessage?.emlData?.acceptanceDate | date: "EEEE d MMMM y, HH:mm" | titlecase
            }}</span>
          </li>
          <li class="recepit-date">
            <span class="recepit-date-label">Consegnata il:</span>
            @if (fullMessage?.emlData?.lastDeliveryDate != null) {
              {{
              fullMessage?.emlData?.lastDeliveryDate | date: "EEEE d MMMM y, HH:mm" | titlecase
              }}
            } @else {
              Vedi dettaglio ricevute
            }
            @if (fullMessage?.emlData?.deliveryInfo != null) {
              <span
                class="recepit-date-content"
                >
                {{ fullMessage.emlData.deliveryInfo }}
              </span>
            }
          </li>
        </div>
        @if (message?.inOut === inOut?.OUT && fullMessage?.emlData?.displayBody) {
          <button
            (click)="recepitsVisible = true"
            pButton
            style="width: 5.188rem"
            label="Ricevute"
            class="recepits-button"
            pTooltip="Apri dettaglio ricevute"
          ></button>
        }
      </div>
    }
    @if (fullMessage && message?.inOut === inOut?.IN) {
      <div
        class="recepit-detail"
        aria-hidden="true"
      >
        <div class="recepit-dates">
          <li class="recepit-date">
            <span
              class="recepit-date-label"
              pTooltip="Data di creazione della email"
              >Scritta il:</span
              >
              <span class="recepit-date-content">
                {{
                fullMessage && fullMessage.message && fullMessage.message["receiveTime"]
                ? (fullMessage.message["receiveTime"] | date: "EEEE d MMMM y, HH:mm:ss" | titlecase)
                : null
                }}
              </span>
          </li>
          <li class="recepit-date">
            <span
              class="recepit-date-label"
              pTooltip="Data di ricezione della mail sui sistemi del provider"
              >Ricevuto il:</span
              >
              <span class="recepit-date-content">
                {{
                fullMessage && fullMessage.message && fullMessage.message["receiveDateProvider"]
                ? (fullMessage.message["receiveDateProvider"] | date: "EEEE d MMMM y, HH:mm:ss" | titlecase)
                : null
                }}
              </span>
          </li>
          <li class="recepit-date">
            <span
              class="recepit-date-label"
              pTooltip="Data di scaricamento sui sistemi Babel"
              >Scaricato in Babel il:</span
              >
              <span class="recepit-date-content">{{
                fullMessage?.message?.createTime | date: "EEEE d MMMM y, HH:mm:ss" | titlecase
              }}</span>
          </li>
        </div>
      </div>
    }
<p-accordion value="0"
  [multiple]="true"
  class="multi-accordion-eml-detail"
  >
  <p-accordion-panel value="0"
    #dettagli
    class="accordion-dettagli"
    [disabled]="fullMessage?.emlData == null"
    >
    <p-accordion-header>Dettagli</p-accordion-header>
    <p-accordion-content>
      @if (fullMessage?.emlData) {
        <div
          class="id-date"
          >
          <div>
            <span
              class="idPec"
              [tabindex]="this.getTabindexForAccordion(dettagli)"
              >Id Pec: {{ message?.id }}</span
              >
              @if (message?.idMessagePecgw !== null) {
                <span
                  class="idPec"
                  [tabindex]="this.getTabindexForAccordion(dettagli)"
                  >Id Pecg: {{ message.idMessagePecgw }}</span
                  >
                }
              </div>
              @if (fullMessage?.emlData?.sendDate) {
                <span
                  [tabindex]="this.getTabindexForAccordion(dettagli)"
                  >{{ fullMessage?.emlData.sendDate | date: "EEEE d MMMM y, HH:mm" | titlecase }}</span
                  >
                }
        </div>
      }
      <ul class="elenco-dettagli">
        <!-- <li *ngIf="fullMessage?.emlData?.sendDate"><span class="li-description">Inviato:</span><span class="li-content">{{getDateDisplay(fullMessage?.emlData.sendDate)}}</span></li> -->
        @if (fullMessage?.emlData?.from) {
          <li>
            <div [tabindex]="this.getTabindexForAccordion(dettagli)">
              <span class="li-description">Da:</span>
              <span class="li-content indirizzo">{{ fullMessage?.emlData?.from }}</span>
            </div>
          </li>
        }
        @if (fullMessage?.emlData?.to && fullMessage?.emlData?.to.length > 0) {
          <li>
            <div [tabindex]="this.getTabindexForAccordion(dettagli)">
              <span class="li-description">A:</span>
              @for (t of fullMessage?.emlData?.to; track t) {
                <span
                  class="li-content indirizzo"
                  >{{ t }}</span
                  >
                }
              </div>
            </li>
          }
          @if (fullMessage?.emlData?.cc && fullMessage?.emlData?.cc.length > 0) {
            <li>
              <div [tabindex]="this.getTabindexForAccordion(dettagli)">
                <span class="li-description">CC:</span>
                @for (c of fullMessage?.emlData?.cc; track c) {
                  <span
                    class="li-content indirizzo"
                    >{{ c }}</span
                    >
                  }
                </div>
              </li>
            }
            @if (thereIsReplyToField() !== null) {
              <li>
                <div [tabindex]="this.getTabindexForAccordion(dettagli)">
                  <span class="li-description">Rispondi a:</span>
                  <span class="li-content indirizzo">{{ thereIsReplyToField() }}</span>
                </div>
              </li>
            }
      </ul>
    </p-accordion-content>
  </p-accordion-panel>
  @if (fullMessage?.emlData?.realAttachmentNumber > 0) {
    <p-accordion-panel value="1"
      #allegati
      class="accordion-allegati"
    >
      <p-accordion-header>Allegati</p-accordion-header>
      <p-accordion-content>
        <div class="box-allegati">
        @for (attachment of fullMessage?.emlData?.attachments; track attachment) {
          <div
            [tabindex]="this.getTabindexForAccordion(allegati)"
            (keyup.enter)="getEmlAttachment(attachment)"
            >
            @if (!attachment.forHtmlAttribute) {
              <span
                class="allegato"
                >
                <i
                  class="far icona"
                  [ngClass]="getFaClass(attachment)"
                ></i>
                <span
                  class="allegato-nome"
                  [pTooltip]="attachment.fileName"
                  tooltipPosition="top"
                  tooltipStyleClass="tooltip"
                  (click)="getEmlAttachment(attachment, true)"
                  >
                  {{ attachment.displayName }}
                </span>
                <span class="allegato-size">({{ getSizeString(attachment.size) }})</span>
                <span
                  class="allegato-scarica"
                  (click)="getEmlAttachment(attachment)"
                  >Scarica</span
                  >
                </span>
              }
            </div>
          }
        </div>
        @if (fullMessage?.emlData?.attachments) {
          <i
            class="far fa-file-zip icona scarica-tutti-icon"
          ></i>
        }
        @if (fullMessage?.emlData?.attachments) {
          <span
            class="scarica-tutti"
            (click)="getAllEmlAttachment()"
            >Scarica tutti gli allegati</span>
        }
        @if (getAllEmlAttachmentInProgress) {
          <span>
            <p-progressSpinner
              [style]="{ width: '1em', height: '1em', marginLeft: '0.438rem' }"
              class="scarica-tutti-spinner"
              strokeWidth="8"
              fill="#FFFFFF"
              animationDuration=".5s"
              >
            </p-progressSpinner>
          </span>
        }
      </p-accordion-content>
    </p-accordion-panel>
  }
</p-accordion>
    @if (fullMessage?.emlData?.displayBody) {
      <div
        class="mail-body-box"
        >
        <iframe
          #emliframe
          [srcdoc]="fullMessage?.emlData?.displayBody | sanitizeHtml"
          class="mail-body"
          (load)="customizeIframeContent()"
          frameborder="0"
          sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin"
          >
        </iframe>
      </div>
    }
    @if (!fullMessage?.emlData?.displayBody) {
      <div
        class="mail-body-box-no-anteprima mail-body-box"
        >
        <div>Anteprima non disponibile.</div>
      </div>
    }
  </div>
}

<p-dialog
  header="Ricevute"
  [(visible)]="recepitsVisible"
  [modal]="true"
  [maximizable]="true"
  styleClass="recepit-dialog"
  appendTo="body"
  [style]="{ height: '25rem' }"
  >
  <app-recepits [recepits]="message?.idRelatedList"> </app-recepits>
  <ng-template #footer>
    <button
      pButton
      icon="pi pi-times"
      (click)="recepitsVisible = false"
      label="Chiudi"
      class="ui-button-secondary"
    ></button>
  </ng-template>
</p-dialog>
