/* CHROME */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1b9;
}

::-webkit-scrollbar-thumb {
	background: #88888828;
}

::-webkit-scrollbar-thumb:hover {
	background: #8888889c;
}

/* ::-webkit-scrollbar * {
  background:transparent; // manage scrollbar background color here
}

::-webkit-scrollbar-thumb {
  background:rgba(255,0,0,0.1) !important; // manage scrollbar thumb background color here
}
*/
/* FIREFOX */
* {
  scrollbar-color: #88888857 #f1f1f1;
  scrollbar-width: thin;
}

*:hover {
  scrollbar-color: #8888889c #f1f1f1;
}