@if (mostratable && (_selectedTag || _selectedFolder || _filters)) {
  <p-table stripedRows
    #dt
    tabindex="0"
    [value]="messages"
    (onLazyLoad)="lazyLoad($any($event))"
    [lazy]="true"
    [lazyLoadOnInit]="true"
    [loading]="loading"
    [scrollable]="true"
    scrollHeight="flex"
    [(first)]="first"
    [paginator]="true"
    [rows]="rowsNmber"
    [totalRecords]="mailListService.totalRecords"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Visualizzate da {first} a {last} di {totalRecords} e-mail"
    [rowsPerPageOptions]="[10, 25, 50]"
    class="shpeck-mail-list-accessibile"
    aria-label="Tabella elenco mail"
    role="table"
    >
    <ng-template pTemplate="header">
      <tr>
        @if (_selectedFolder !== null && (_selectedFolder.type === folderTypeSent || _selectedFolder.type === folderTypeOutbox)) {
          <th
            role="columnheader"
            >
            A
          </th>
        }
        @if (_selectedFolder !== null && _selectedFolder.type === folderTypeInbox) {
          <th
            role="columnheader"
            >
            Da
          </th>
        }
        @if (
          _selectedTag !== null ||
          (_selectedFolder !== null &&
          _selectedFolder.type !== folderTypeSent &&
          _selectedFolder.type !== folderTypeOutbox &&
          _selectedFolder.type !== folderTypeInbox)
          ) {
          <th
            role="columnheader"
            >
            Da/A
          </th>
        }
        <th role="columnheader">Oggetto</th>
        <th role="columnheader">Data</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-message
      >
      <tr
        #selRow
        [attr.name]="message.id"
        role="row"
        >
        <!-- [pSelectableRow]="message" (keydown.enter)="vaiAlDettaglio($event, message, message)" -->
        <td>
          @for (
            element of buildAddressColumn(
            message,
            _selectedTag !== null || (_selectedFolder !== null && _selectedFolder.type !== folderTypeInbox)
            )
            ; track
            element) {
            <div
              role="cell"
              >
              {{ element }}
            </div>
          }
        </td>
        <td role="row">
          <a
            (click)="vaiAlDettaglio($event, message, message)"
            style="font-weight: bold; cursor: pointer"
            >
            <span role="cell">{{ message.subject }}</span></a
            >
          </td>
          <td role="row">
            <span role="cell">
              {{ message.receiveTime | date : "dd/MM/yyyy hh:mm" }}
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }

  @if (displayDetailPopup) {
    <p-dialog
      [(visible)]="displayDetailPopup"
      class="popup-mail-detail"
      >
      <p-header> Dettaglio </p-header>
      <ng-template #footer>
        <button
          type="button"
          pButton
          (click)="displayDetailPopup = false"
          label="Chiudi"
          class="ui-button-raised ui-button-secondary button-styles custom-secondary-button"
        ></button>
      </ng-template>
    </p-dialog>
  }
