<p-table #dt 
  tabindex="0"
  *ngIf="mostratable && (_selectedTag || _selectedFolder || _filters)"
  [value]="mailListService.messages"
  (onLazyLoad)="lazyLoad($event)"
  [lazy]="true" 
  [lazyLoadOnInit]="true"
  [loading]="loading"
  [(first)]="first" 
  [paginator]="true" 
  [rows]="rowsNmber" 
  [totalRecords]="mailListService.totalRecords"
  [showCurrentPageReport]="true" 
  currentPageReportTemplate="Visualizzate da {first} a {last} di {totalRecords} e-mail" 
  [rowsPerPageOptions]="[10,25,50]"
  class="shpeck-mail-list-accessibile">
  <!-- 
    [(selection)]="mailListService.selectedMessages" 
    (onRowUnselect)="handleEvent('onRowUnselect', $event)"
    dataKey="id"
    selectionMode="single" 
    [rowTrackBy]="trackByFn"
    [metaKeySelection]="true"
    [scrollable]="true"
    scrollHeight="100%"
  -->
  <ng-template pTemplate="header">
    <tr>
      <th *ngIf="_selectedFolder !== null && (_selectedFolder.type === folderTypeSent || _selectedFolder.type === folderTypeOutbox)">A</th>
      <th *ngIf="_selectedFolder !== null && _selectedFolder.type === folderTypeInbox">Da</th>
      <th *ngIf="_selectedTag !== null || (_selectedFolder !== null &&( _selectedFolder.type !== folderTypeSent && _selectedFolder.type !== folderTypeOutbox && _selectedFolder.type !== folderTypeInbox)) ">Da/A</th>
      <th>Oggetto</th>
      <th>Data</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-message> 
    <tr #selRow
      [attr.name]="message.id">
      <!-- [pSelectableRow]="message" (keydown.enter)="vaiAlDettaglio($event, message, message)" -->
      <td>
        <div *ngFor="let element of buildAddressColumn(message,_selectedTag !== null || _selectedFolder !== null && _selectedFolder.type !== folderTypeInbox)">
          {{element}}
        </div>
      </td>
      <td><a (click)="vaiAlDettaglio($event, message, message)" style="font-weight: bold; cursor: pointer;">{{message.subject}}</a></td>
      <td>{{message.receiveTime | date:'dd/MM/yyyy hh:mm'}}</td>
    </tr>
  </ng-template>
</p-table>


<p-dialog *ngIf="displayDetailPopup" [(visible)]="displayDetailPopup" class="popup-mail-detail">
  <p-header>
    Dettaglio
  </p-header>
  <p-footer>
    <button 
      type="button" 
      pButton 
      (click)="displayDetailPopup = false" 
      label="Chiudi"
      class="ui-button-raised ui-button-secondary button-styles custom-secondary-button">
    </button>
  </p-footer>
</p-dialog>