.flex-1 {
  display: flex;
  flex: 1;
}
:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep #draft-mail-list {
  height: 100%;
  .p-datatable .p-datatable-tbody {
    > tr {
      > td {
        border: none !important;
      }
      &:nth-child(even) {
        background-color: #f9f9f9;
      }
    }
  }
}
/* ::ng-deep #draft-mail-list  > tr > td {
  border: none !important;
}
::ng-deep #draft-mail-list .p-datatable .p-datatable-tbody > tr:nth-child(even) {
  background-color: #f9f9f9;
} */
.mail-icons-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  
    width: 100%;
}
.message-align {
  justify-content: center;
  align-items: center;
}
.flex-direction-col {
  flex-direction: column;
}
.display-block {
  display: block;
}
.extra-margin {
  margin-left: 0.688rem;
}
.mail-icon {
  padding-left: 0.3rem;
}
.mail-date {
  float: right;
}
.display-icon {
  position: absolute;
}
.envelope-icon {
  padding-top: 0.19rem;
}
.display-body {
  margin-left: 0.3rem;
  overflow: hidden;
  color: gray;
}
.pad-left-19 {
  padding-left: 1.188rem;
}
.display-text {
  margin-left: 1.25rem;
}
.display-bold {
  font-weight: bold;
}
.loading-text {
  display: block;
  background-color: #f1f1f1;
  min-height: 1.188rem;
  animation: pulse 1s infinite ease-in-out;
  text-indent: -6249.938rem;
  overflow: hidden;
}
.message-row {
  font-size: 0.75rem;
  width: 100% !important;
  height: 4.375rem !important;
  white-space: nowrap;
}
::ng-deep .general-font-size-small .message-row {
  font-size: 0.75rem !important;
}
::ng-deep .general-font-size-medium .message-row {
  font-size: 0.813rem !important;
}
::ng-deep .general-font-size-big .message-row {
  font-size: 0.875rem !important;
}
.material-icons.mail-icons {
  font-size: 1.125rem;
}
.second-line-icon {
  font-size: 1.125rem;
  display: block;
  float: right;
}
.seconda-riga {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
::ng-deep .general-font-size-small .delete-icon {
  font-size: 1.25rem !important;
}
::ng-deep .general-font-size-medium .delete-icon {
  font-size: 1.313rem !important;
}
::ng-deep .general-font-size-big .delete-icon {
  font-size: 1.375rem !important;
}
.visibility-hidden {
  visibility: hidden !important;
}
::ng-deep .context-menu-mail-list {
  margin: -8rem 0 0 -19.5rem;
}
.column-checkbox {
  width: 2rem;
  max-width: 2rem;
}
