.general-font-size-small .filter-box {
    font-size: 12px;
}
.general-font-size-medium .filter-box {
    font-size: 13px;
}
.general-font-size-big .filter-box {
    font-size: 14px;
}
:host {
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .mail-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
  }
  
}
