.align-center {
  text-align: center;
}
/* .recepit-table {
  height: 60%;
  
} */

/* ::ng-deep .download-button .ui-button-text.ui-clickable {
  display: none !important;
}
::ng-deep .download-button .ui-button-icon-left {
  left: 0;
} */