.flex-1 {
    display: flex;
    flex: 1;
}
:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}


::ng-deep .ui-table-tbody > tr > td {
  border: none !important;
  overflow: hidden;
}

.message-align {
  justify-content: center;
  align-items: center;
}

.flex-direction-col {
  flex-direction: column;
}
.display-block {
  display: block;
}

.extra-margin {
  margin-left: 0.688rem;
}

.mail-icon {
  padding-left: 0.3rem;
}

.mail-date {
  float: right;
}

.display-icon {
  position: absolute;
}

.envelope-icon {
  padding-top: 0.19rem;
}

.display-body {
  margin-left: 0.3rem;
  overflow: hidden;
  color: gray;

}

.pad-left-19 {
  padding-left: 1.188rem;
}

.display-text {
  margin-left: 1.25rem;
}

.display-bold {
  font-weight: bold;
}

.loading-text {
  display: block;
  background-color: #f1f1f1;
  min-height: 1.188rem;
  animation: pulse 1s infinite ease-in-out;
  text-indent: -6249.938rem;
  overflow: hidden;
}

.message-row {
  font-size: 0.75rem !important;
  width: 100% !important;
  height: 4.375rem !important;
  white-space: nowrap;
}
::ng-deep .general-font-size-small .message-row {
  font-size: 0.75rem !important;
}
::ng-deep .general-font-size-medium .message-row {
  font-size: 0.813rem !important;
}
::ng-deep .general-font-size-big .message-row {
  font-size: 0.875rem !important;
}

.material-icons.mail-icons {
  font-size: 1.125rem;
}

.second-line-icon {
  font-size: 1.125rem;
  display: block;
  float: right;
}

.visibility-hidden {
  visibility: hidden !important;
}

::ng-deep .context-menu-mail-list {
  margin: -8rem 0 0 -19.5rem;
}

.column-checkbox {
  width: 1.875;
}
::ng-deep .column-checkbox p-tableCheckbox .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-state-default {
  opacity: 0.5;
}
::ng-deep .message-row:hover .column-checkbox p-tableCheckbox .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-state-default {
  opacity: 1;
}
::ng-deep .column-checkbox p-tableCheckbox .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-state-default.ui-state-active {
  opacity: 1;
  border-color: #848484;
  background-color: #848484;
}