<div class="p-grid p-nogutter page-wrapper"> 
  <div class="full-width" style="display: hidden;">
    <prp-header class="ui-g-nopad custom-header" logoPath="assets/images/logo.png" [addToRight]="headerTemplate" [appName]="'Babel Internauta - PEC'"></prp-header>
      <ng-template #headerTemplate>
        <header-features [params]="headerFeaturesConfig" [addToMenu]="addToMenu"></header-features>
    </ng-template>
  </div>
  <div class="content-wrapper ui-fluid">
      <router-outlet></router-outlet>
  </div>
</div>