<!-- <div class="flex-1 flex-direction-col" style="background-color: skyblue">
  aaaaaaaaaaaa

</div> -->

<p-table #dt
    [lazy]="true"
    (onLazyLoad)="handleEvent('onLazyLoad', $event)"
    [value]="messages"
    [columns]="cols"
    [paginator]="false"
    [autoLayout]="true"
    [responsive]="true"
    [totalRecords]="totalRecords"
    selectionMode="single"
    (onRowSelect)="handleEvent('onRowSelect', $event)"
    [scrollable]="true"
    [loading]="loading"
    (keydown.arrowdown)="onKeydownHandlerArrowDown($event)"
    (keydown.arrowup)="onKeydownHandlerArrowUp($event)"
    [(contextMenuSelection)]="attivitaSelezionata" [contextMenu]="cm"
    >

    <!-- <ng-template pTemplate="header" let-columns>
        <tr>
            <th [id]="col.field" *ngFor="let col of columns" [style.width]="col.width" [style.minWidth]="col.minWidth" scope="colgroup">
                <div *ngIf="col.field != undefined && col.field !== 'azione'" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabelAsc="Colonnna {{col.header}}, Ordinamento ascendente" ariaLabelDesc="Colonnna {{col.header}}, Ordinamento discendente">
                    </p-sortIcon>
                </div>
            </th>
        </tr>
        <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.filterWidget" class="filters-styles" [style.width]="col.width" [style.minWidth]="col.minWidth">
                <div *ngIf="col.field != undefined && col.field !== 'azione'">
                    <p-calendar #calGen *ngSwitchCase="'Calendar'" [(ngModel)]="dataRange[col.field]" placeholder="Scegli..." showButtonBar="true"
                        [locale]="localIt" [showIcon]="false" dateFormat="dd/mm/yy" (onSelect)="onCalendarAction($event, col.field, 'select')"
                        (onClearClick)="onCalendarAction($event, col.field, 'clear')" (onTodayClick)="onCalendarAction($event, col.field, 'today')"
                        appendTo="body" selectionMode="range" readonlyInput="true" [pTooltip]="calendarTooltip(col.field)" inputId="CalInput_{{col.field}}">
                    </p-calendar>
                    <input *ngSwitchDefault pInputText
                        attr.aria-label="Colonnna {{col.header}}, Cella filtro"
                        type="text"
                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                        #filterInputText>
                </div>
            </td>

        </tr>
    </ng-template> -->
    <ng-template pTemplate="body" let-rowData let-message>
        <tr #selRow class="row-class" [pSelectableRow]="rowData" [pContextMenuRow]="rowData" style="height:30px">
            <td >
               {{message.subject}}
            </td>
        </tr>
    </ng-template>

</p-table>