/* :host,*/ .flex-1 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
// .box-table {
//   display: flex;
//   flex: 1;
// }
.d-flex {
  display: flex;
}
p-table,
::ng-deep p-table > div,
::ng-deep p-table > div > div,
::ng-deep p-table > div > div > div {
  height: 100%;
}
::ng-deep p-table > div > div > div div.ui-table-scrollable-body {
  max-height: 100% !important;
  // height: 100% !important;
}
.column-checkbox {
  width: 30px;
}
::ng-deep .column-checkbox p-tableCheckbox .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-state-default {
  //visibility: hidden;
  opacity: 0.5;
}
.column-checkbox p-tableCheckbox:hover {
  //visibility: visible;
  
}
::ng-deep .message-row:hover .column-checkbox p-tableCheckbox .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-state-default {
  opacity: 1;
}
::ng-deep .column-checkbox p-tableCheckbox .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-state-default.ui-state-active {
  opacity: 1;
  border-color: #848484;
  background-color: #848484;
}
.buttons-bar {
  height: 50px;
  display: block;
  width: 100%;
}
.flex-direction-col {
  flex-direction: column;
}
.separatore {
  color: #595959;
  margin-left: 7px;
  margin-right: 3px;
  vertical-align: super;
}
.icon-enabled {
  cursor: pointer !important;
}
.icon-disabled {
  color: darkgrey;
  cursor: not-allowed !important;
}
.icon-used {
  cursor: help !important;
}
/* .filter-box {
  background-color: rgb(245, 245, 245);
  border-bottom: 1px solid #2e4a65;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: min-content;
  flex-direction: row;
  font-size: 12px;
  .filter-box-left, .filter-box-right {
    padding: 5px 10px;
  }
  .filter-box-left {
    font-weight: bold;
  }
  .filter-box-right {
    // align-self: flex-end;
  }
} */

//body .ui-table .ui-table-tbody > tr > td

::ng-deep .ui-table-tbody > tr > td {
  border: none !important;
}

::ng-deep .ui-table-scrollable-body {
  // width: 100%;
  // min-height: 900px;
  //position: unset;
}

::ng-deep .ui-table-virtual-scroller {
  // height: 100% !important;
}

.display-block {
  display: block;
}
.little-margin-left {
  margin-left: 4px;
}
.extra-margin {
  margin-left: 11px;
}

.mail-icons-container {

  //margin-left: 11px;
  // display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  // align-items:
}

.prima-riga-destra {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.inout-message {
  /* border-radius: 50px;
  border: 1px solid rgb(211, 211, 211) */
}
.text-background {
  padding: 0 4px;
  // background: cadetblue;
  background: #848484;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.icon-default-color {
  color: #2e4a65;
}
.mail-icon {
  padding-left: 5px;
  color: #2e4a65;
  //position: absolute;
  //margin-left: 11px;
  // display: inline-block;
  //width: 20px;
}
.first-icon-left {
  padding-left: 0;
}
.fa-icon {
  vertical-align: super;
  font-size: 13px;
  margin-left: 1px;
}
.second-line-error {
  font-size: 15px;
  display: block;
}

.second-line-icon {
  font-size: 18px;

  // float: right;
}
.second-line-icon-fa {
  font-size: 14px;
  margin-right: 3px;
  vertical-align: super;
}
.mail-date {
  // position: absolute;
  // right: 1%;
  //float: right;
  margin: 0 7px;
  width: 130px;
}

.visibility-hidden {
  visibility: hidden !important;
}

.display-icon {
  position: absolute;
}

.envelope-icon {
  padding-top: 3px;
}
.seconda-riga {
  padding-left: 1px;
}
.display-text {
  /* margin-left: 20px; */
  display: inline-block;
  position: relative;
}

.text-from-or-to {
  vertical-align: super;
}

.display-bold {
  font-weight: bold;
}

.loading-text {
  display: block;
  background-color: #f1f1f1;
  min-height: 19px;
  animation: pulse 1s infinite ease-in-out;
  text-indent: -99999px;
  overflow: hidden;
}

.message-row {
  font-size: 12px !important;
  width: 100% !important;
  //align-items: stretch;
  //flex-direction: row;
  height: 70px !important;
  //white-space-collapsing: collapse;
  //text-wrap: none;
  white-space: nowrap;
  //overflow: scroll;
}

.button-centopx button {
  width: 100px;
}

::ng-deep .message-row:focus {
  // border-style: solid !important;
  // border-color:cornflowerblue !important;
}

.material-icons.mail-icons,  .material-icons-outlined.mail-icons{
  // color: rgb(250, 250, 250);
  font-size: 18px;
}
.mi-fist-line {
  vertical-align: text-top;
}
.material-icons.fa-icons {
  // color: rgb(250, 250, 250);
  font-size: 16px;
  color: #393939
}
::ng-deep .local-offer-icon::before {
  content: 'local_offer';
}

::ng-deep .material-icons.color-green {
  color: darkcyan !important;
}

::ng-deep .material-icons.color-yellow {
  color: orange !important;
}

::ng-deep .fas.new-tag {
  font-size: 1.4em !important;
}
::ng-deep .fas.no-tag {
  font-size: 3.3em !important;
}

::ng-deep .context-menu-mail-list {
  margin: -128px 0 0 -312px;
  width: 226px;
}
.warn-color {
  color: #993366 !important;
}
/******* Close button *******/
.close-button {
  position: absolute;
  top: -36px;
  right: 11px;
  color: slategray;
}

.message-align {
  justify-content: center;
  align-items: center;
}

.confirm-buttons {
  width: 110px !important;
  margin: 0 0 0 0.5em !important;
}

.note-area {
  font-family: sans-serif;
  resize: none;
}

/* MENU ETICHETTE */
::ng-deep .message-labels-icon-action,
::ng-deep .message-labels + p-contextmenusub {
  width: auto;
}
::ng-deep .message-labels + p-contextmenusub ul a {
  width: fit-content;
}
::ng-deep .message-labels + p-contextmenusub ul li {
  width: max-content;
}
::ng-deep .message-moves + p-contextmenusub ul a::after,
::ng-deep .message-labels-icon-action > ul > li > a::after,
::ng-deep .message-labels + p-contextmenusub ul a::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  margin-left: 2em;
  overflow: hidden;
  visibility: hidden;
  /* width: min-content; */
}
::ng-deep .message-moves + p-contextmenusub ul {
  max-height: 330px;
}
::ng-deep .message-labels-icon-action > ul,
::ng-deep .message-labels + p-contextmenusub ul {
  max-height: 297px;
}
::ng-deep .message-moves + p-contextmenusub ul,
::ng-deep .message-labels-icon-action > ul,
::ng-deep .message-labels + p-contextmenusub ul {
  overflow-y: auto;
  width: fit-content !important;
  width: -moz-fit-content;
  min-width: 224px;
  max-width: 300px;
  overflow-x: hidden;
}
::ng-deep .message-labels + p-contextmenusub .ui-menuitem-icon.fas.fa-square,
::ng-deep .message-labels + p-contextmenusub .ui-menuitem-icon.fas.fa-check,
::ng-deep .message-labels + p-contextmenusub .ui-menuitem-icon.fas.fa-tag,
::ng-deep .message-labels + p-contextmenusub .ui-menuitem-icon.fas.fa-check-square,
::ng-deep .message-labels + p-contextmenusub .ui-menuitem-icon.fas.fa-minus-square,
::ng-deep .message-labels-icon-action .ui-menuitem-icon.fas.fa-square,
::ng-deep .message-labels-icon-action .ui-menuitem-icon.fas.fa-check,
::ng-deep .message-labels-icon-action .ui-menuitem-icon.fas.fa-tag,
::ng-deep .message-labels-icon-action .ui-menuitem-icon.fas.fa-check-square,
::ng-deep .message-labels-icon-action .ui-menuitem-icon.fas.fa-minus-square {
  font-size: 1.1em !important;
}

::ng-deep .d-inline-flex {
  display: inline-flex !important;
}

/* POPUP DETAIL */
::ng-deep .popup-mail-detail {
  width: 900px !important;
  height: 80%;
}
::ng-deep .popup-mail-detail > div {
  width: inherit !important;
  height: 80%;
}
::ng-deep .popup-mail-detail > div .ui-dialog-content {
  height: 90%;
}
::ng-deep .popup-mail-detail  app-mail-detail {
  height: 100%;
}

::ng-deep .tooltip-oggetto-mail {
  // position: absolute;
  // top: 50%;
  // 
  //width: 50vw !important;
  width: fit-content;
  max-width: 20vw;
  .ui-tooltip-text {
    // overflow: scroll;
    //transform: translateY(-50%);
    max-height: 50vh;
    overflow: hidden
  }
}