.flex-1 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.d-flex {
  display: flex;
}

::ng-deep p-table > div > div > div div.ui-table-scrollable-body {

  overflow-x: auto;
}
::ng-deep #pec-mail-list .p-datatable .p-datatable-tbody > tr:nth-child(even) {
  background-color: #f9f9f9;
}
.column-checkbox {
  width: 32px;
}
::ng-deep .column-checkbox p-tableCheckbox .ui-chkbox.p-component .ui-chkbox-box.p-component.ui-state-default {
  opacity: 0.5;
}
::ng-deep .message-row:hover .column-checkbox p-tableCheckbox .ui-chkbox.p-component .ui-chkbox-box.p-component.ui-state-default {
  opacity: 1;
}
::ng-deep .column-checkbox p-tableCheckbox .p-checkbox .p-checkbox-box.p-highlight {
  opacity: 1;
  border-color: #848484;
  background-color: #848484;
}
.buttons-bar {
  height: 50px;
  display: block;
  width: 100%;
}
.flex-direction-col {
  flex-direction: column;
}
.separatore {
  color: #595959;
  margin-left: 7px;
  margin-right: 3px;
  vertical-align: super;
}
.icon-enabled {
  cursor: pointer !important;
}
.icon-disabled {
  color: grey;
  cursor: not-allowed !important;
}
.icon-used {
  cursor: help !important;
}
::ng-deep .no-records-found {
  .cdk-virtual-scroll-content-wrapper {
    height: 100%;
  }
}
::ng-deep .cdk-virtual-scroll-content-wrapper {
  
  table {
    height: 100%;
    .p-datatable-tbody {
      height: 100%;
    }
  }
}
::ng-deep #pec-mail-list .p-datatable .p-datatable-tbody > tr > td {
  border: none !important;
}
.message-disabled {
  background-color: lightgrey !important;
  color: grey!important;
  font-style: italic;
}
.display-block {
  display: block;
}
.little-margin-left {
  margin-left: 4px;
}
.extra-margin {
  margin-left: 11px;
}
.mail-icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.riga-tabella {
  height: 79px !important;
}
.cella-no-elementi {
  height: 100%;
}
.prima-riga-sinistra {
  align-self: center;
  display: flex;
}
.prima-riga-destra {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.seconda-riga-destra {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.text-background {
  padding: 0 4px;
  background: #848484;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.icon-default-color {
  color: #2e4a65;
}
.mail-icon {
  padding-left: 5px;
  color: #2e4a65;
}
.first-icon-left {
  display: flex;
  padding-left: 0; 
}
.fa-icon {
  vertical-align: super;
  font-size: 13px;
  margin-left: 1px;
}
::ng-deep .general-font-size-small .fa-icon {
  font-size: 13px;
}
::ng-deep .general-font-size-medium .fa-icon {
  font-size: 14px;
}
::ng-deep .general-font-size-big .fa-icon {
  font-size: 15px;
}
.first-line-error {
  font-size: 15px;
  display: block;
}
::ng-deep .general-font-size-small .first-line-error {
  font-size: 15px !important;
}
::ng-deep .general-font-size-medium .first-line-error {
  font-size: 16px !important;
}
::ng-deep .general-font-size-big .first-line-error {
  font-size: 17px !important;
}
.second-line-icon {
  font-size: 18px;
}
::ng-deep .general-font-size-small .second-line-icon {
  font-size: 18px !important;
}
::ng-deep .general-font-size-medium .second-line-icon {
  font-size: 19px !important;
}
::ng-deep .general-font-size-big .second-line-icon {
  font-size: 20px !important;
}
::ng-deep .general-font-size-small .delete-icon {
  font-size: 20px !important;
  cursor: pointer;
}
::ng-deep .general-font-size-medium .delete-icon {
  font-size: 21px !important;
  cursor: pointer;
}
::ng-deep .general-font-size-big .delete-icon {
  font-size: 22px !important;
  cursor: pointer;
}
.second-line-icon-fa {
  font-size: 14px;
  margin-right: 3px;
  vertical-align: super;
}
::ng-deep .general-font-size-small .second-line-icon-fa {
  font-size: 14px !important;
}
::ng-deep .general-font-size-medium .second-line-icon-fa {
  font-size: 15px !important;
}
::ng-deep .general-font-size-big .second-line-icon-fa {
  font-size: 16px !important;
}
.mail-date {
  margin: 0 7px;
}
.visibility-hidden {
  visibility: hidden !important;
}
.display-icon {
  position: absolute;
}
.envelope-icon {
  padding-top: 3px;
}
::ng-deep .general-font-size-small .envelope-icon {
  font-size: 14px !important;
}
::ng-deep .general-font-size-medium .envelope-icon {
  font-size: 15px !important;
}
::ng-deep .general-font-size-big .envelope-icon {
  font-size: 16px !important;
}
.seconda-riga {
  padding-left: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.display-text {
  display: inline-block;
  position: relative;
}
.text-from-or-to {
  vertical-align: super;
}
.display-bold {
  font-weight: bold;
}
.loading-text {
  display: block;
  background-color: #f1f1f1;
  min-height: 19px;
  animation: pulse 1s infinite ease-in-out;
  text-indent: -99999px;
  overflow: hidden;
}
.message-row-font-size-small {
  font-size: 12px !important;
  width: 100% !important;
  height: 78px !important;
  white-space: nowrap;
}
.message-row-font-size-medium {
  font-size: 13px !important;
  width: 100% !important;
  height: 84px !important;
  white-space: nowrap;
}
.message-row-font-size-big {
  font-size: 14px !important;
  width: 100% !important;
  height: 89px !important;
  white-space: nowrap;
}
::ng-deep .general-font-size-small .message-row {
  font-size: 12px !important;
}
::ng-deep .general-font-size-medium .message-row {
  font-size: 13px !important;
}
::ng-deep .general-font-size-big .message-row {
  font-size: 14px !important;
}
.button-centopx button {
  width: 100px;
}
.material-icons.mail-icons,  .material-icons-outlined.mail-icons {
  font-size: 18px;
}
::ng-deep .general-font-size-small .material-icons.mail-icons, ::ng-deep .general-font-size-small .material-icons-outlined.mail-icons {
  font-size: 18px !important;
}
::ng-deep .general-font-size-medium .material-icons.mail-icons, ::ng-deep .general-font-size-medium .material-icons-outlined.mail-icons {
  font-size: 19px !important;
}
::ng-deep .general-font-size-big .material-icons.mail-icons, ::ng-deep .general-font-size-big .material-icons-outlined.mail-icons {
  font-size: 20px !important;
}
.mi-fist-line {
  vertical-align: text-top;
}
.material-icons.fa-icons {
  font-size: 16px;
  color: #393939
}
::ng-deep .local-offer-icon::before {
  content: 'local_offer';
}
::ng-deep .material-icons.color-green {
  color: darkcyan !important;
}
::ng-deep .material-icons.color-yellow {
  color: orange !important;
}
::ng-deep .fas.new-tag {
  font-size: 1.4em !important;
}
::ng-deep .fas.no-tag {
  font-size: 3.3em !important;
}
::ng-deep .context-menu-mail-list {
  margin: -128px 0 0 -312px;
  width: 226px;
}
.warn-color {
  color: #993366 !important;
}
.close-button {
  position: absolute;
  top: -36px;
  right: 11px;
  color: slategray;
}

.message-align {
  justify-content: center;
  align-items: center;
}

.confirm-buttons {
  margin: 0 0 0 0.5em !important;
}

.note-area {
  font-family: sans-serif;
  resize: none;
}

::ng-deep .message-labels-icon-action,
::ng-deep .message-labels + p-contextmenusub {
  width: auto;
}
::ng-deep .message-labels + p-contextmenusub ul a {
  width: fit-content;
}
::ng-deep .message-labels + p-contextmenusub ul li {
  width: max-content;
}
::ng-deep .message-moves + p-contextmenusub ul a::after,
::ng-deep .message-labels-icon-action > ul > li > a::after,
::ng-deep .message-labels + p-contextmenusub ul a::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  margin-left: 2em;
  overflow: hidden;
  visibility: hidden;
}
::ng-deep .message-moves + p-contextmenusub ul {
  max-height: 330px;
}
::ng-deep .message-labels-icon-action > ul,
::ng-deep .message-labels + p-contextmenusub ul {
  max-height: 297px;
}
::ng-deep .message-moves + p-contextmenusub ul,
::ng-deep .message-labels-icon-action > ul,
::ng-deep .message-labels + p-contextmenusub ul {
  overflow-y: auto;
  width: fit-content !important;
  width: -moz-fit-content;
  min-width: 224px;
  max-width: 300px;
  overflow-x: hidden;
}
::ng-deep .message-labels + p-contextmenusub .ui-menuitem-icon.fas.fa-square,
::ng-deep .message-labels + p-contextmenusub .ui-menuitem-icon.fas.fa-check,
::ng-deep .message-labels + p-contextmenusub .ui-menuitem-icon.fas.fa-tag,
::ng-deep .message-labels + p-contextmenusub .ui-menuitem-icon.fas.fa-check-square,
::ng-deep .message-labels + p-contextmenusub .ui-menuitem-icon.fas.fa-minus-square,
::ng-deep .message-labels-icon-action .ui-menuitem-icon.fas.fa-square,
::ng-deep .message-labels-icon-action .ui-menuitem-icon.fas.fa-check,
::ng-deep .message-labels-icon-action .ui-menuitem-icon.fas.fa-tag,
::ng-deep .message-labels-icon-action .ui-menuitem-icon.fas.fa-check-square,
::ng-deep .message-labels-icon-action .ui-menuitem-icon.fas.fa-minus-square {
  font-size: 1.1em !important;
}

::ng-deep .d-inline-flex {
  display: inline-flex !important;
}

::ng-deep .popup-mail-detail {
  width: 900px !important;
  height: 80%;
}
::ng-deep .popup-mail-detail > div {
  width: inherit !important;
  height: 80%;
}
::ng-deep .popup-mail-detail > div .ui-dialog-content {
  height: 90%;
}
::ng-deep .popup-mail-detail  app-mail-detail {
  height: 100%;
}
::ng-deep .tooltip-oggetto-mail {
  width: fit-content;
  max-width: 20vw;
  .ui-tooltip-text {
    max-height: 50vh;
    overflow: hidden
  }
}
