<!-- <div class="flex-1 flex-direction-col" style="background-color: skyblue">
  aaaaaaaaaaaa

</div> -->

<!-- (onLazyLoad)="handleEvent('onLazyLoad', $event)"
(keydown.arrowdown)="onKeydownHandlerArrowDown($event)"
    (keydown.arrowup)="onKeydownHandlerArrowUp($event)"
[(contextMenuSelection)]="attivitaSelezionata" [contextMenu]="cm" 
(onRowSelect)="handleEvent('onRowSelect', $event)"
[loading]="loading"-->

<p-table #dt
    [lazy]="true"
    [value]="messages"
    [columns]="cols"
    [paginator]="false"
    [autoLayout]="false"
    [responsive]="true"
    [totalRecords]="totalRecords"
    selectionMode="multiple"
    [metaKeySelection]="true"
    [scrollable]="false"
    (onRowSelect)="handleEvent('onRowSelect', $event)"
    >
    <ng-template pTemplate="body" let-rowData let-message let-rowIndex="rowIndex">
        <tr #selRow class="message-row" [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" [pContextMenuRow]="rowData" >
            <td>
                <div class = "display-block">
                    <span *ngIf="iconsVisibility['REPLIED']" class="fa fa-mail-reply extra-margin"></span>
                    <span *ngIf="iconsVisibility['ASSIGNED']" class="fa fa-circle extra-margin"></span>
                    <span *ngIf="iconsVisibility['FORWARDED']" class="fa fa-mail-forward extra-margin"></span>
                </div>
                <div class = "display-block">
                    <span class = "pi pi-user display-icon"></span> <div class="display-text">{{message.fromOrTo}}</div> 
                </div>
                <div class = "display-block extra-margin">
                    <span *ngIf="!message.seen" class="fa fa-envelope display-icon"></span>
                    <span *ngIf="message.seen" class="fa fa-envelope-open-o display-icon"></span>
                    <div class="display-text" [ngClass]="{'display-bold':!message.seen}">{{message.subject}}</div> 
                </div>
            </td>
        </tr>
    </ng-template>

</p-table>