:host, .flex-1 {
  display: flex;
  flex: 1;
}

.d-flex {
  display: flex;
}

.buttons-bar {
  height: 50px;
  display: block;
  width: 100%;
}

.flex-direction-col {
  flex-direction: column;
}

::ng-deep .ui-table table {
  width: auto;
}

.message-row {
  //align-items: stretch;
  //flex-direction: row;
  height:30px;
  //white-space-collapsing: collapse; 
  //text-wrap: none;
  white-space: nowrap;
  //overflow: scroll;
}