:host, .flex-1 {
  display: flex;
  flex: 1;
}

.d-flex {
  display: flex;
}

.buttons-bar {
  height: 50px;
  display: block;
  width: 100%;
}

.flex-direction-col {
  flex-direction: column;
}

//body .ui-table .ui-table-tbody > tr > td

::ng-deep .ui-table-tbody > tr > td {
  border: none !important;
}

::ng-deep .ui-table table {
  // width: 100%;
}

.display-block {
  display: block;
}

.extra-margin {
  margin-left: 11px;
}

.display-icon {
  position: absolute;
}

.display-text {
  margin-left: 20px;
}

.display-bold {
  font-weight: bold;
}

.message-row {
  font-size: 12px !important;
  width: 100% !important;
  //align-items: stretch;
  //flex-direction: row;
  height:30px;
  //white-space-collapsing: collapse; 
  //text-wrap: none;
  white-space: nowrap;
  //overflow: scroll;
}