<div class="p-col container p-nogutter">

  <div class="buttons-bar" style="background-color: sandybrown">
    <app-toolbar></app-toolbar>
  </div>
  <div #mailContainer class="mail-container p-col">

    <!-- Left side -->
    <div #mailFolder class="content-left">
        <app-mail-folders (idFolderEmitter)="onFolderSelected($event)"></app-mail-folders>
    </div>

    <div #leftSlider class="slider text-center">
        <div></div>
    </div>

    <!-- Right side -->
    <div #rightSide class="content-right d-flex">

      <div #mailList class="mail-list" style="background-color:cyan">
        <app-mail-list [idFolder] = "idFolderSelected"></app-mail-list>
      </div>

      <div *ngIf="!hideDetail" #rightSlider class="slider text-center">
          <div></div>
      </div>

      <div *ngIf="!hideDetail" #mailDetail class="mail-detail">
        <div [ngClass]="{'overlap-div' : sliding}"></div>
        <app-mail-detail></app-mail-detail>
      </div>
    </div>
  </div>
</div>