.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  //flex-basis: 20%;
}

.box {
  background-color: #cce4f7;
  text-align: center;
  //height: 100%;
  display: flex;
  flex: 1;
}

.buttons-bar {
  height: 50px;
  display: block;
  //flex-grow: 0.05;
  //flex-basis: 1%;
  // flex-shrink: 1;
  width: 100%;
}

.oldslider{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15px;
  cursor: w-resize;
  text-align: center;
  justify-content: center;
}
.oldslider > div{
  border: dotted 1px grey;
  width: 3px;
  border-top: none;
  border-bottom: none;
  height: 100%;
  display: inline-block;
}

.slider {
  position: relative;
  cursor: w-resize;
  border: solid 1px grey;
  width: 5px;
  border-top: none;
  border-bottom: none;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.slider::before {
  content: "";
  border: dotted 2px grey;
  position: absolute;
  left: 0;
  width: 0px;
  height: 18px;
  //background-color: black;

  // serve per centrarlo rispetto all'altezza del padre
  top: 50%;

  // serve per far si che sia centrato rispettto all'altezza di se stesso
  transform: translateY(-50%);
}

.hidden {
  display: none !important;
}

.content-left{
  /*position: relative;*/
  display: block;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  // padding: 5px
  //flex-direction: column;
}
.content-right{
  //padding-left: 23px;
  // overflow-y: auto;
  position: relative;
  display: block;
  //display: flex;
  // width: 100%;
  // height: 100%;

  flex: 1;
  //flex-direction: row;
}

.d-flex{
  display: flex;


}

.mail-container {
  //height: 100%;
  //width: 100%;
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: row;
  margin-top: 5px;
  min-height: 0;
}

:host {
  width: 100%;
  display: flex;
}
.flex-1{
  flex: 1;
}
.text-center{
  text-align: center;
}
/* ========= MAIL LIST ========== */
app-mail-list, app-mail-drafts {
  overflow: hidden;
}

.mail-list {
  display: flex;
  flex: 1;
  padding: 5px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mail-list:hover {
  overflow: auto;
}
.filter-box {
  background-color: #eaecef; // rgb(248, 248, 248);
  border-bottom: 1px solid #96a4b2;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: min-content;
  flex-direction: row;
  font-size: 12px;
  .filter-box-left, .filter-box-right {
    padding: 5px 10px;
  }
  .filter-box-left {
    font-weight: bold;
  }
  .filter-box-right {
    position: relative;
    cursor: pointer;
    padding-right: 16px;
  }
  .filter-box-right:hover {
    // font-weight: bold;
    background-color: #d5dae0 !important;
  }
  .filter-box-right::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #848484 transparent transparent transparent;
    position: absolute;
    right: 3px;
    top: 11px;
  }
}

/* ========= MAIL DETAIL ========== */
.mail-detail {
  display: flex;
  flex: 1;
  padding-left: 4px;
  position: relative;
  overflow: hidden;
}
.mail-detail:hover {
  overflow: overlay;
}
.overlap-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
