.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    //flex-basis: 20%;
}

.box {
    background-color: #cce4f7;
    text-align: center;
    //height: 100%;
    display: flex;
    flex: 1;
}

.buttons-bar {
    height: 50px;
    display: block;
    //flex-grow: 0.05;
    //flex-basis: 1%;
    // flex-shrink: 1;
    width: 100%;
  }

.oldslider{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15px;
    cursor: w-resize;
    text-align: center;
    justify-content: center;
}
.oldslider > div{
    border: dotted 1px grey;
    width: 3px;
    border-top: none;
    border-bottom: none;
    height: 100%;
    display: inline-block;
}
.slider{
    cursor: w-resize;
    width: 15px;
}
.slider >  div{
    border: dotted 1px grey;
    width: 3px;
    border-top: none;
    border-bottom: none;
    height: 100%;
    display: inline-block;
}
.content-left{
    /*position: relative;*/
    display: block;
    width: 200px;
    padding: 5px
    //flex-direction: column;
}
.content-right{
    //padding-left: 23px;
    // overflow-y: auto;
    position: relative;
    display: block;
    //display: flex;
    // width: 100%;
    // height: 100%;
    
    flex: 1;
    //flex-direction: row;
}

.d-flex{
    display: flex;
}

.mail-container {
    //height: 100%;
    //width: 100%;
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: row;
    margin-top: 5px;
}

.mail-list {
    display: flex;
    flex: 1;
    padding: 5px;
}

.mail-detail {
    display: flex;
    flex: 1;
    padding: 5px;
}

:host {
    width: 100%;
    display: flex;
}
.flex-1{
    flex: 1;
}
.text-center{
    text-align: center;
}