<p-tree #tree
  styleClass = "tree-style"
  [value]="mailfolders"
  selectionMode = "single"
  [(selection)]="selectedNode"
  (onNodeSelect)="handleNodeSelect('onNodeSelect', $event)"
  (onNodeUnselect)="handleNodeSelect('onNodeUnselect', $event)"
  (onNodeContextMenuSelect)="handleNodeSelect('onContextMenuSelect', $event)"
  (selectionChange)="handleNodeSelect('selectionChange', $event)"
  [contextMenu]="cm">
  <ng-template let-node pTemplate="default">
    <input #folderInput [hidden] ="!!!node.editable" [(ngModel)]="node.label"
    [id]="node.key"
    type="text" style="width:100%"
    class="ui-inputtext"
    (focusout)= "onLostFocus($event, folderInput.value)"
    (keyup.enter)="onEnterPressed($event, folderInput.value)"
    (keydown.esc)="onEscPressed($event)"
    [attr.disabled]="node.editable ? null : ''">
    <div #actualTarget
      *ngIf="!!!node.editable" 
      [ngStyle]="{'font-style': (node.data.type ==='pec' && !node.data.data.attiva) ? 'italic' : 'normal'}"
      pTooltip="{{buildTooltipForNode(node)}}"
      tooltipPosition="top">
      {{node.label}} {{(node.data.type ==='pec' && !node.data.data.attiva) ?'- disattivata':''}}
    </div>
    <!-- <span *ngIf="node.data.type ==='pec' && !node.data.data.attiva">disattiva</span> -->
    <p-overlayPanel #op appendTo="body" (onHide)="pickerOverlayHiding()">
      <div>
        <p-colorPicker [(ngModel)]="color" *ngIf="pickershow" inline="true" appendTo="body" (onChange)="nodeColorIsActuallyChanging()"></p-colorPicker>
      </div>
      <div class="buttons-color-picker">
        <button pButton type="button" 
          class="custom-primary-button" 
          (click)="saveNewColor()" 
          label="Salva">
        </button>
        <button pButton type="button" 
          class="custom-primary-button" 
          (click)="closeColorEditing(false)" 
          label="Chiudi">
        </button>
      </div>
    </p-overlayPanel>
  </ng-template>
</p-tree>
<!-- 

  style="position: absolute;"
 -->


<!-- *ngIf="!!node.editable" -->
<p-contextMenu #cm [hidden]="!(cmItems?.length > 0)" [model]="cmItems" styleClass = "context-menu-mail-folders"></p-contextMenu>
<!--
<p-dialog [header]="folderDialogProperties.title"
          [(visible)]="folderDialogProperties.visible"
          modal="true"
          styleClass="folder-dialog"
          positionTop="20"
          positionLeft="20"
          >
  Contentaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</p-dialog> -->

<!-- <p-overlayPanel #manageFolderPanel [dismissable]="true" [showCloseIcon]="true">
  Contentaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</p-overlayPanel> -->

<!-- [style] = "{'background-color': blue}" -->