<p-tree #tree
  styleClass = "tree-style"
  [value]="mailfolders"
  selectionMode = "single"
  [(selection)]="selectedNode"
  (onNodeSelect)="handleNodeSelect('onNodeSelect', $event)"
  (onNodeUnselect)="handleNodeSelect('onNodeUnselect', $event)"
  (onNodeContextMenuSelect)="handleNodeSelect('onContextMenuSelect', $event)"
  (selectionChange)="handleNodeSelect('selectionChange', $event)"
  [contextMenu]="cm">
  <ng-template let-node pTemplate="default">
    <input #folderInput [hidden] ="!!!node.editable" [(ngModel)]="node.label"
    [id]="node.key"
    type="text" style="width:100%"
    class="ui-inputtext"
    (focusout)= "onLostFocus($event, folderInput.value)"
    (keyup.enter)="onEnterPressed($event, folderInput.value)"
    (keydown.esc)="onEscPressed($event)"
    [attr.disabled]="node.editable ? null : ''">
    <div 
      *ngIf="!!!node.editable" 
      [ngStyle]="{'font-style': (node.data.type ==='pec' && !node.data.data.attiva) ? 'italic' : 'normal'}"
      pTooltip="{{(node.data.type ==='pec' && !node.data.data.attiva) ?'disattiva':''}}"
      tooltipPosition="top">
      {{node.label}} {{(node.data.type ==='pec' && !node.data.data.attiva) ?'- disattiva':''}}
    </div>
    <!-- <span *ngIf="node.data.type ==='pec' && !node.data.data.attiva">disattiva</span> -->
  </ng-template>
</p-tree>

<!-- *ngIf="!!node.editable" -->
<p-contextMenu #cm [hidden]="!(cmItems?.length > 0)" [model]="cmItems" styleClass = "context-menu-mail-folders"></p-contextMenu>
<!--
<p-dialog [header]="folderDialogProperties.title"
          [(visible)]="folderDialogProperties.visible"
          modal="true"
          styleClass="folder-dialog"
          positionTop="20"
          positionLeft="20"
          >
  Contentaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</p-dialog> -->

<!-- <p-overlayPanel #manageFolderPanel [dismissable]="true" [showCloseIcon]="true">
  Contentaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</p-overlayPanel> -->

<!-- [style] = "{'background-color': blue}" -->