:host {
  height: 100%;
}
::ng-deep .tree-style {
  height: 100%;
  .p-tree-wrapper {
    height: 100%;
    .p-tree-container {
      height: 100%;
    }
  }
}
.flex-container{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.d-flex {
  display: flex;
}
::ng-deep .general-style-icon {
  color: #2e4a65 !important;
  font-size: 18px;
}
::ng-deep .bigger-icon {
  font-size: 20px !important;
  margin-left: -2px !important;
  margin-right: 2px !important;
}
::ng-deep .smaller-icon {
  font-size: 15px !important;
  margin-right: 5px !important;
}
::ng-deep .error-icon {
  margin-right: 4px !important;
}
::ng-deep .p-treenode-icon.material-icons-outlined {
  vertical-align: sub !important;
}
::ng-deep .p-treenode-icon.material-icons-outlined + .p-treenode-label.p-corner-all {
  vertical-align: baseline !important;
}
::ng-deep body p-tree .p-tree-container .p-treenode {
  padding: 0;
}
::ng-deep body .p-tree .p-tree-container .p-treenode .p-treenode-content {
  padding: 0;
}
::ng-deep body .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  width: initial;
}
::ng-deep .p-treenode-children p-treenode li,
::ng-deep .p-treenode-children p-treenode li .p-treenode-content{
  height: 29px;
  white-space: nowrap;
}
::ng-deep .p-treenode-children p-treenode .root-tree-node-style {
  height: initial;
}
::ng-deep .tree-style, ::ng-deep .p-tree-container {
    border: none !important;
    padding: 0 !important;
}
::ng-deep .tree-node-style.p-treenode-leaf .p-treenode-label {
  background-color: white !important;
}
::ng-deep body .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight,
::ng-deep body .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-label,
::ng-deep body .p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover .p-treenode-label {
  background-color: #eaeaea !important;
  color: black;
  font-weight: bold;
}
::ng-deep body .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler {
  color: initial !important;
}
::ng-deep .tree-node-style {
  font-weight: normal !important;
}
::ng-deep .tree-node-style .p-inputtext,
::ng-deep .root-tree-node-style .p-inputtext,
::ng-deep .root-tree-node-style-selected .p-inputtext {
  border: none !important;
}
::ng-deep .root-tree-node-style {
  font-size: 12px !important;
  font-weight: normal !important;
}
::ng-deep .general-font-size-small .root-tree-node-style {
  font-size: 12px !important;
}
::ng-deep .general-font-size-medium .root-tree-node-style {
  font-size: 13px !important;
}
::ng-deep .general-font-size-big .root-tree-node-style {
  font-size: 14px !important;
}
::ng-deep .root-tree-node-style-selected {
  font-size: 12px !important;
  color: black !important;
  background-color: white;
  font-weight: bold;
}
::ng-deep .general-font-size-small .root-tree-node-style-selected {
  font-size: 12px !important;
}
::ng-deep .general-font-size-medium .root-tree-node-style-selected {
  font-size: 13px !important;
}
::ng-deep .general-font-size-big .root-tree-node-style-selected {
  font-size: 14px !important;
}
::ng-deep .root-tree-node-style-selected .p-treenode-label {
  background-color: #eaeaea !important;
}
::ng-deep .context-menu-mail-folders {
  margin: -128px 0 0 -8px;
}
::ng-deep .folder-dialog {
  left: 10px;
}
::ng-deep .fa-exclamation-triangle.tree-icon {
  color: #993366 !important;
}
::ng-deep .tree-node-error span div {
  background: #993366 !important;
  border-radius: 30px;
  padding: 0 0.6em 0 0.6em;
  color: white;
}
:host {
  width: 100%;
  display: flex;
}
::ng-deep .p-tooltip {
  width: fit-content;
  max-width: initial;
}
::ng-deep .p-tooltip .p-tooltip-text {
  width: fit-content;
}
::ng-deep .buttons-color-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
::ng-deep .restore-color {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}
::ng-deep .restore-color .button-restore {
  background-color:#2e4a65;
  height: 1em; 
  width: 1em;
  margin: auto 0;
  margin-left: 4px;
  border-radius: 3px;
  cursor: pointer;
}

/* ----- ICONE  ------ */
::ng-deep .readdressed-icon::before {
  content: 'low_priority';
}
::ng-deep .registered-icon::before {
  content: 'assignment_turned_in';
}
::ng-deep .inbox-icon::before {
  content: 'inbox';
}
::ng-deep .outbox-icon::before {
  content: 'hourglass_empty';
}
::ng-deep .sent-icon::before {
  content: 'send';
}
::ng-deep .draft-icon::before {
  content: 'drafts';
}
::ng-deep .more-icon::before {
  content: 'more';
}
::ng-deep .loyalty-icon::before {
  content: 'loyalty';
}
::ng-deep .local-offer-icon::before {
  content: 'local_offer';
}
::ng-deep .trash-icon::before {
  content: 'delete';
}
::ng-deep .p-link:focus {
  box-shadow: 0 0 0 0 transparent !important;
}