<div class="toolbar-maildetail">
  <button 
    pButton
    autofocus 
    (click)="tornaIndietro()" 
    aria-label="Torna alla lista messaggi"
    label="Torna alla lista messaggi">
  </button>
  <bds-menu 
    *ngIf="isRegistrationActive && aziendeProtocollabiliMenuItems.length > 0" 
    [items]="aziendeProtocollabiliMenuItems" 
    [executeAction]="onDoProtocolla">
  </bds-menu>
  <span *ngIf="!isRegistrationActive" tabindex="0">{{infoNonProtocollabile}}</span>
</div>
<app-mail-detail [versioneAccessibile]="true"></app-mail-detail>

