html,
body,
div,
table,
* {
  scrollbar-width: thin !important;
  scrollbar-color: #88888857 #f1f1f1 !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

*::-webkit-scrollbar-thumb {
  background: #8888889c !important;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1b9 !important;
}
