/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.css';
// @import '../node_modules/material-design-icons/iconfont/material-icons.css';

.ui-button:enabled:focus {
    box-shadow: none !important;
}

html, body {
    height: 100%;
    margin: 0;
}

body, .ui-widget {
    font-family: "Open Sans", "Helvetica Neue", sans-serif !important;
}



// TEMPLATE GENERALE DELL'APPLICAZIONE

/* Accordion, pulsanti di paginazione in "grigione" */
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a,
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a,
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    background-color: #848484;
    border: 1px solid #848484;
    color: #ffffff;
}

body .custom-primary-button {
    border: 1px solid #203244;
    background-color: #2e4a65;
}
body .custom-primary-button:hover {
    border-color: #2e4a65 !important;
    background-color: #406284 !important;
    color: #ffffff;
}

body .custom-border, body .custom-secondary-button {
    border: 1px solid #a6a6a6 !important;
    white-space: nowrap;
}

// menu right-click
body {
    p-menu {
        .ui-menu {
            background-color: #203142;
            .ui-menuitem-link {
                .ui-menuitem-text {
                    color: #F4F4F4;
                }
            }
        }
    }
    p-contextmenu {
        .ui-contextmenu {
            background-color: #203142;
            .ui-menuitem {
                .ui-menuitem-link {
                    padding: 6px 12px;
                    color: #F4F4F4;
                    .ui-menuitem-text {
                        color: #F4F4F4;
                    }
                }
            }
        }
    }
    .ui-menuitem {
        .ui-menuitem-link {
            padding: 6px 12px;
        }
    }
    .ui-contextmenu .ui-submenu-list {
        background-color: #203142;
    }

    .ui-contextmenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-text {
        font-weight: bold;
    }
    .ui-menu:hover { color:black !important}
    .ui-menu {
        background-color: #203142;
        .ui-menuitem {
            color: black !important;
        }
        .ui-menuitem {
            .ui-menuitem-link:hover {
                color: black !important;
                font-weight: bold;
            }
            .ui-menuitem-link {
                color: #F4F4F4;
                .ui-menuitem-text {
                    color: inherit;
                }
                .ui-menuitem-text:hover {
                    color: black !important;
                    font-weight: bold;
                }
            }
        }
    }

    .ui-contextmenu .ui-menuitem-link .ui-menuitem-icon {
        color: #F4F4F4;
        font-size: 1.7em;
    }

    .ui-menu .ui-menuitem-link .ui-menuitem-icon {
        color: #F4F4F4;
        font-size: 1.7em;
    }
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/material-icons.woff2) format('woff2');
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/material-icons-outlined.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
     /* Support for all WebKit browsers. */
     -webkit-font-smoothing: antialiased;
     /* Support for Safari and Chrome. */
     text-rendering: optimizeLegibility;

     /* Support for Firefox. */
     -moz-osx-font-smoothing: grayscale;

     /* Support for IE. */
     font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
}