//@import "../node_modules/primeng/resources/themes/nova/theme.css";
//@import "../node_modules/primeng/resources/primeng.min.css";
@use "../node_modules/primeicons/primeicons.css" as *;
//@import "../node_modules/primeflex/primeflex.css";
//@import "../node_modules/@bds/common-components/assets/bds-styles/primeng.scss";
@use "../node_modules/@bds/common-components/assets/bds-styles/material-icons.scss" as *;
@use "../node_modules/@bds/common-components/assets/bds-styles/custom-classes.scss" as *;
@use "../node_modules/@bds/common-components/assets/bds-styles/basic.scss" as *;

// Per le icone bottone
.bds-icon-btn {
  cursor: pointer;
  color: #203142;

  &:hover {
    color: #936;
  }
}

.p-treetable-row-selected,
.p-datatable-row-selected {
  .bds-icon-btn {
    cursor: pointer;
    color: white;

    &:hover {
      color: #d385b1;
    }
  }
}


html,
body {
  height: 100%;
  margin: 0;
}

body,
.p-component {
  font-family: "Open Sans", "Helvetica Neue", sans-serif !important;
}


app-mail-list .p-datatable-table.p-datatable-scrollable-table {
  table-layout: fixed;
}


*:focus {
  box-shadow: none !important;
  box-sizing: border-box;
}

p-dropdown,
.p-datepicker,
.p-autocomplete {
  //width: initial !important;
  width: 100% !important;
}

p-table,
.p-datatable,
.p-datatable-table-container,
p-scroller,
.p-datatable-flex-scrollable p-scroller {
  height: 100%;
  width: 100%;
}

p-tab {
  padding: 0.557rem 1rem !important;
}

.p-dialog-content {
  height: 100%;
}

p-columnfilterformelement+p-button,
.pcColumnfilterClearButton,
.p-column-filter-clear-button {
  display: none !important;
}

p-columnfilter p-columnfilterformelement {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  p-select,
  p-multiselect,
  p-treeselect,
  p-autocomplete {
    width: 100%;
  }
}

.p-datepicker-panel {
  width: auto !important;
}

.p-datatable-scrollable .p-datatable-tbody>tr.p-datatable-selectable-row .p-datatable-frozen-column {
  background: var(--p-datatable-row-background) !important;
}

.p-datatable-scrollable .p-datatable-tbody>tr.p-datatable-row-selected .p-datatable-frozen-column {
  background: var(--p-datatable-row-selected-background) !important;
}

.p-datatable-scrollable.p-datatable-hoverable .p-datatable-tbody>tr:not(.p-datatable-row-selected):hover .p-datatable-frozen-column {
  background: var(--p-datatable-row-hover-background) !important;
}

.p-datatable-header {
  //padding: 0.313rem 0.625313rem !important;
  padding: 0 !important;
}

// CLASSI NOSTRE
::ng-deep body .custom-primary-button {
  border: 0.06rem solid #000000 !important;
  background-color: #2e4a65 !important;
}

::ng-deep body .custom-primary-button:hover {
  border-color: #2e4a65 !important;
  background-color: #2e4a65 !important;
  color: #ffffff !important;
}

::ng-deep body .custom-border,
body .custom-secondary-button {
  border: 0.06rem solid #a6a6a6 !important;
  white-space: nowrap;
  color: #f4f4f4 !important;
  background-color: #f4f4f4 !important;
}

// Responsive
@media screen and (max-width: 1600px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 70%;
  }
}

// -----------CUSTOM SCROLLBAR----------------- //
// CHROME

::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #88888857;
}

::-webkit-scrollbar-thumb:hover {
  background: #8888889c;
}

// FIREFOX
* {
  scrollbar-color: #88888857 #f1f1f1;
  scrollbar-width: thin;
}

*:hover {
  scrollbar-color: #8888889c #f1f1f1;
}