/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng-lts/resources/themes/nova/theme.css'; 
@import '../node_modules/primeng-lts/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.css';
@import '../node_modules/@bds/common-components/assets/bds-styles/primeng.scss';
@import '../node_modules/@bds/common-components/assets/bds-styles/material-icons.scss';

html, body {
    height: 100%;
    margin: 0;
}
body, .p-component {
    font-family: "Open Sans", "Helvetica Neue", sans-serif !important;
}

// CLASSI NOSTRE
body .custom-primary-button {
    border: 1px solid #203244 !important;
    background-color: #2e4a65 !important;
}
body .custom-primary-button:hover {
    border-color: #2e4a65 !important;
    background-color: #406284 !important;
    color: #ffffff;
}
body .custom-border, 
body .custom-secondary-button {
    border: 1px solid #a6a6a6 !important;
    white-space: nowrap;
    color: #333333;
    background-color: #f4f4f4;
}

