<p-toolbar>
  <div class="d-flex">
      <button
        pButton type="button" label="Nuova PEC"
        icon="pi pi-plus" class="button-new-mail ui-button-raised ui-button-primary"
        (click)="handleEvent($event)">
      </button>
      <button pButton type="button" label="Rispondi" icon="fa fa-reply" class="button-styles ui-button-raised ui-button-secondary"></button>
      <button pButton type="button" label="Rispondi a tutti" icon="fa fa-reply-all" class="button-styles ui-button-raised ui-button-secondary"></button>
      <button pButton type="button" label="Inoltra" icon="fa fa-share" class="button-styles ui-button-raised ui-button-secondary"></button>
      <button pButton type="button" label="Elimina" icon="fa fa-trash" class="button-styles ui-button-raised ui-button-secondary"></button>
      <button pButton type="button" label="Sposta" class="button-styles ui-button-raised ui-button-secondary margin-l-15">
        <img class="images-pos" src="../../../assets/images/icons/folder_export.png" width="24px" alt="Sposta in">
      </button>
      <button pButton type="button" label="Fascicola" class="button-styles ui-button-raised ui-button-secondary"></button>

      <!-- <i class="pi pi-bars a-items-center d-flex"></i> -->

  </div>
</p-toolbar>