:host {
    height: 100%;
}
::ng-deep .toolbar-pec button {
    margin-right: .25em;
}
::ng-deep .toolbar-pec button .ui-button-icon-left {
    color: #2e4a65;
}
::ng-deep .toolbar-pec .rotate .ui-button-icon-left {
    transform: rotate(-90deg);
}
::ng-deep .toolbar-pec .button-new-mail .ui-button-icon-left {
    color: white !important;
}
::ng-deep .p-toolbar {
    padding: 0.571em 1em;
}
.toolbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.d-flex {
    display: flex;
}
.toolbar-pec{

    .button-new-mail,
    .button-styles {
        width: auto;
        white-space: nowrap;
        &:focus{
            ::ng-deep .ui-button-text {
                border: 1px solid black !important;
            }
        }
    }
    .button-new-mail {

        color: #ffffff !important;

    }
    .images-pos {
        position: absolute;
        top: 15%;
        left: 5%;
        width: 21px;
    }
    .input-find {
        width: 100%;
        margin-left: auto;
        margin-right: 0;
        border: 0px;
        background-color: #f4f4f4;
    }
}
::ng-deep .margin-l-15 > span {
    margin-left: 15px;
}
::ng-deep .move-menu > div {
    max-height: 330px;
    overflow-y: auto;
    width: fit-content !important;
    width: -moz-fit-content;
    min-width: 224px;
    max-width: 300px;
    overflow-x: hidden;
}
.buttons {
    width: 62px !important;
}
.close-icon {
    align-self: center;
    font-size: 15px;
	border:1px solid transparent;
	background-color: #f4f4f4;
	display: inline-block;
	vertical-align: middle;
    outline: 0;
    cursor: pointer;
    &:after {
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        z-index:1;
        right: 35px;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 2px;
        text-align: center;
        color: #203142;
        font-weight: normal;
        font-size: 12px;
        cursor: pointer;
    }
}


.input-find,.close-icon,.search-wrapper {
	position: relative;
}
.input-find:not(:valid) ~ .close-icon {
	display: none !important;
}

.custom-search-button {
    text-align: center;
    color: #223446;
    background-color: #f4f4f4;
    font-family: 'primeicons';
    line-height: 1;
    display: inline-block;
    font-size: 1.25em;
    border: 0px;
}
.search-wrapper{
    display: flex;
    box-sizing: border-box;
    flex-grow: 3;
    background-color: #f4f4f4;
    border-bottom: 1px solid #223446;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: border 0.3s ease-out;
    &:hover {
        border: 1px solid #223446 !important;
    }
    
}
.cerca-box{
    width: 340px;
}