:host {
    height: 100%;
}

:host ::ng-deep button {
    margin-right: .25em;
}
:host::ng-deep button .ui-button-icon-left {
    color: #2e4a65;
}
:host::ng-deep .rotate .ui-button-icon-left {
    transform: rotate(-90deg);
}
::ng-deep .button-new-mail .ui-button-icon-left {
    color: white !important;
}

.d-flex {
    display: flex;
}

.button-new-mail,
.button-styles {
    width: auto;
    white-space: nowrap;
    // flex-grow: 0.1;
}

.images-pos {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 21px;
}

.input-find {
    width: auto;
    margin-left: auto;
    margin-right: 0;
}

.input-find:invalid {
    box-shadow: 0px 0px 4px red;
}

::ng-deep .margin-l-15 > span {
    margin-left: 15px;
}

::ng-deep .dialog-class {
    top: 30%;
}

::ng-deep .move-menu > div {
    max-height: 330px;
    overflow-y: auto;
    width: fit-content !important;
    width: -moz-fit-content;
    min-width: 224px;
    max-width: 300px;
    overflow-x: hidden;
}

.buttons {
    width: 62px !important;
}
/* :host ::ng-deep .ui-splitbutton {
    margin-left: .25em;
}
:host ::ng-deep .ui-splitbutton button {
    margin-right: 0;
}

.a-items-center {
    align-items: center;
}
 */