::ng-deep .switch-class {
  position: absolute;
  right: 10%;
  margin-top: -2.3px;
}

.settings-items {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: inline;
}

.button-styles {
  width: 100px;
  margin: 10px;
}

.button-wrapper {
  position: absolute;
  bottom: 5px;
  left: 21%;
}

.button-margin-left {
  margin-left: 70px;
}

.span-position {
  position: absolute;
  right: 4%;
}