/* ::ng-deep .switch-class {
  position: absolute;
  right: 10%;
  margin-top: ;
} */

.settings-items {
  list-style: none;
  padding: 0.6rem;
  margin: 0;
  display: inline;
  .item {
    display: flex;
    align-items: center;
    label {
      width: 14.625rem;
      text-align: right;
    }
    .right {
      display: flex;
      align-items: center;
    }
  }
}

.button-styles {
  width: 6.25rem;
  margin: 0.6rem;
}

.button-wrapper {
  position: absolute;
  bottom: 0.3rem;
  left: 21%;
}

.button-margin-left {
  margin-left: 4.375rem;
}



li {
  margin-top: 0.563rem;
}
.radio-button {
  margin-right: 0.625rem;
}
/* .radio-button-group {
  position: absolute;
  right: 0;
} */
.icon {
  vertical-align: middle;
}