<section>
  <form #form="ngForm">
    <div>
      <ul class="settings-items">
        <li class="item" *ngIf="!accessibilitaEnabled">
          <label for="hideDetail">Nascondi dettaglio e-mail</label>
          <div class="right">
            <p-inputSwitch id="hideDetail" [(ngModel)]="model.hideDetail" styleClass="switch-class" name="hideDetail"></p-inputSwitch>
            <span class="">{{ model.hideDetail ? 'Sì': 'No' }}</span>
          </div>
        </li>
        <li class="item font-size">
          <label for="hideDetail">Dimensione caratteri</label>          
          <span class="right">
            <span class="radio-button">
              <p-radioButton name="group2" value="small" [(ngModel)]="model.fontSize" inputId="small"></p-radioButton>
              <i class="material-icons icon" style="font-size: 13px">format_size</i>
            </span>
            <span class="radio-button">
              <p-radioButton name="group2" value="medium" [(ngModel)]="model.fontSize" inputId="medium"></p-radioButton>
              <i class="material-icons icon" style="font-size: 15px">format_size</i>
            </span>
            <span class="radio-button">
              <p-radioButton name="group2" value="big" [(ngModel)]="model.fontSize" inputId="big"></p-radioButton>
              <i class="material-icons icon" style="font-size: 19px">format_size</i>
            </span>
          </span>
        </li>
      </ul>
    </div>
    <div class="p-grid button-wrapper">
        <button pButton class="button-styles" label="Salva" (click)="saveSettings()"></button>
        <button pButton class="button-styles button-margin-left" label="Annulla" (click)="autoDestroy()"></button>
    </div>
  </form>
</section>